.top-talent-root{
  .top-talent {
    width: 100%;

    .profile-pic {
      width: 56px;
      height: 56px;
      margin: 10px;
      margin-left: 0px;
    }

    .candidate-info {
      align-self: center;
      width: calc(100% - 60px);
    }
  }
}

.talent-head {
  width: 100%;

  .avatar-lg {
    width: 75px;
    height: 75px;
  }

  .avatar-md {
    width: 55px;
    height: 55px;
  }

  .talent-details {
    align-self: center;
    width: calc(100% - 90px);
    margin: 0px 10px;

    .username {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
    }

    .location {
      svg {
        margin: 0 10px 0 0;
      }

      .status{
        margin-left: 20px;
      }
    }

    .languages {
      svg {
        margin: 0 10px 0 0;
      }

      .rate{
        float: right;
      }
    }
  }
}

.talent-content, .job-category-card {
  .short-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .application-status-list {
    width: 96%;
  }

  .blue-dot-notification {
    margin: 0px 5px;
  }
}

.talent-filter {
  .talent-title {
    margin-bottom: 15px;
  }
  .filter-buttons {
    padding: 20px 16px 20px 26px;
  }

  .full-border {
    margin-bottom: 20px;
  }

  .filter-section {
    margin-bottom: 30px;
    margin-top: 30px;

  }

  .talent-filter-dropdown {
    width: 87%;
    margin: 10px 5% 10px 8%;
  }

  .radio-buttons {
    .MuiFormControlLabel-root {
      margin-right: 0px;
    }
  }
}

.resume-intro-root {
  .personal-details{
    text-transform: capitalize;
  }
}

.resume-root{
  .resume-section {
    flex-direction: column;
    margin: 10px 0px;
  }
}

.skills-page-root{
  .skill-section {
    .skills-wrap {
      .like-button {
        :hover {
          cursor: pointer;
        }
      }
    }
    .skill-set {
      margin-top: 5px;
    }
    .description{
      align-self: center;
      font-size: 15px;
      cursor: pointer;
    }
  }
}



.work-history-root {
  .work-history-section {
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;

    .date {
      svg {
        font-size: 5px;
        vertical-align: middle;
        margin: 0px 15px;
      }

    }

    .feedback-section {
      display: inline-flex;
      justify-content: space-between;
      margin: 10px 0px;

      .middle-part{
        width: calc(100% - 150px);
        vertical-align: middle;
        margin: 15px 0;
      }

      .right-part {
        float: right;
        vertical-align: middle;
        margin: 15px 0;

        .rating-star {
          margin-left: 0px;
        }

      }
    }
  }
}

.endorsement-modal {
  .endorsement-section {
    width: 100%;
    display: inline-flex;
    margin: 10px 0px !important;

    .middle-part{
      width: 100%;
      vertical-align: middle;
    }
  }
}

.cover-letter-root {
  .stengths-list {
    li {
      margin-left: 10px;
      list-style-type: initial;
   }
  }
}

.edit-skills-modal {
  .MuiDialogTitle-root {
    padding-bottom: 5px;
  }

  .skills-list {
    overflow-y: auto;
    max-height: 300px;
    padding-right: 20px;
  }

  .skills-list::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }

}
