.contact-center-info-root {
  .job-post-stats {
    display: inline-flex;
    flex-direction: column;
    .data {
      svg {
        margin-right: 10px;
        margin-top: 20px;
      }
    }
  }

  .action-buttons {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    flex-direction: column;
    li {
      margin-right: 10%;
      margin: 10px 0px;
      svg {
        margin-right: 10px;
      }
    }
  }
}


.job-post-root {
  .job-post-heading {
    width: 90%;
    letter-spacing: 1px;
  }
}

.new-job-root {
  .category-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    .drop-down-bar {
      width: 80%;
    }

    .agent-field{
      width: 75px;
    }
    .agent-label {
      align-self: center;
      margin-left: 10px;
    }
  }

  .ck-focused, .ck-blurred {
    min-height: 120px;
    max-height: 250px;
  }

  .search-input {
    float: left;
    width: 80%;
  }
}

.job-requirements-root {

  .drop-down-field {
    width: 80%;
  }
}

.job-details-root {
  .duration-field{
    width: 75px;
  }
  .duration-label {
    align-self: center;
    margin-left: 10px;
  }
  .location {
    width: 80%;
  }
  .drop-down-bar {
    width: 80%;
    height: 30px;
  }
}

.jobs-filter {
  width: 230px;
  padding: 10px 15px 10px 5px ;
  border-radius: 8px;
}

// Job Info
.job-info {
  .job-title {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a {
      color: #444F5F;
    }

  }

  .action-buttons {
    width: 100%;

    li {
      margin-right: 10%;
        svg {
          margin-right: 5px;
        }
    }
  }
}
