@import '../../../customStyles/scss/partials/variables';

.skills-endorsements-box {
  display: inline-flex;
  position: relative;
  width: 100%;

  button {
    position: absolute;
    right: 0
  }
}

.skills-chip {
  background-color: #D5DFFC;
}

.rating-star-color {
  color: $color-primary;
}

.hourly-rate-input {
  width: 90px;
}

.profile-options {
  .MuiPaper-root {
    border-radius: 8px;
  }
}

.message-button-loader {
  position: absolute;
  right: 20px;
  color: $color-primary;
}
