@import '../../../../customStyles/scss/index.scss';

.contact-center-info-root {

  .contact-center-head {
    width: 100%;

    .profile-pic {
      width: 65px;
      height: 65px;
      margin-top: 10px;
    }


    .company-info-wrapper {
      margin-left: 15px;

      .MuiRating-root {
        &.rating-star {
          color: $color-primary;
          margin: 15px 5px 0px 5px;
          vertical-align: text-bottom;
          font-size: 16px;
        }

        h4 {
          @extend .h4;
          font-size: 14px;
          font-weight: 500;
        }

        p{
          @extend .para;
          font-size: 12px;
        }

        svg {
          font-size: 12px;
          margin-right: 7px;
        }
      }
    }

  }

  .contact-center-title {
    @extend .h4;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0px;
  }

  .description {
    @extend .para;
    font-size: 14px;
  }

  .member-count {
    @extend .para;
    margin-top: 20px;

    b {
      font-weight: 600;
    }
  }

  .job-post-stats {
    display: inline-flex;
    flex-direction: column;
    .data {
      @extend .para;
      svg {
        margin-right: 10px;
        margin-top: 20px;
      }
    }
  }

  .action-buttons {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    flex-direction: column;
    li {
      margin-right: 10%;
      margin: 10px 0px;
      svg {
        margin-right: 10px;
      }
    }
  }
}


.job-post-root {
  .job-post-heading {
    @extend .h3;
    width: 90%;
    letter-spacing: 1px;
  }

  .date {
    color: $color-dark-grey;
    font-size: 13px;
  }

  .job-post-description {
    flex-direction: column;
    font-size: 14px;
  }

  .account-button{
    @extend .h4;
    width: fit-content;
    color: $color-primary;
    padding: 0px;
    margin: 10px 0px;
    font-weight: 600;
  }

  p{
    @extend .para;
    font-size: 14px;
  }

  h3{
    @extend .h3;
  }

  .job-post-specifications{
    @extend .para;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 40px;
  }

  .course-section {
    flex-direction: column;
    .text-button {
      color: $color-primary;
      font-size: 14px;
      width: fit-content;
      padding: 0px;
      font-weight: 600;
    }
  }
}

.job-application-root{
  border: 1px solid $color-border;

  h3 {
    @extend .h3;
    padding-bottom: 10px;
  }

  p{
    @extend .para;
    margin-bottom: 15px;
  }

  .job-application-head {
    width: 100%;

    .profile-pic {
      width: 56px;
      height: 56px;
      margin: 10px;
    }

    .candidate-info {
      align-self: center;
      width: 100%;

      .candidate-head {
        display: inline-flex;
        h4 {
          @extend .h4;
        }
      }

      .description {
        @extend .para;
        color: $color-dark-grey;
        font-size: 13px;
      }

      .text-button {
        color: $color-primary;
        width: fit-content;
        float: right;
        font-size: 14px;
        padding: 0px;
      }
    }
  }

  .date {
    color: $color-dark-grey;
    font-weight: 200;
    margin: 10px 0px 5px;
  }

  .pending-application-buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;

    p {
      font-style: italic;
    }

    .MuiButton-contained {
      box-shadow: none;
    }

    .reject-button {
      float:left;
      color: $color-red;
      border: 1px solid $color-red;
      &:hover {
        background-color: $color-red;
        color: #FFFFFF;
      }
    }

    .message-button {
      margin-right: 20px;
    }

    .hire-button {
      float:right;
    }
  }

  .hired-application {
    float: right !important;
    width: 40%!important;
    .hire-message{
      margin-left: 150px !important;
    }
  }
}

.invite-agent-modal {
  width: 680px;
  height: 700px;

  .MuiDialog-scrollPaper {
    overflow-y: scroll;
  }

  .MuiDialog-paperScrollPaper {
    max-height: none;
    margin-top: auto;
  }

  .cross-button {
    button {
      .MuiIconButton-label {
        color: $color-primary;
      }
    }
  }

  h2 {
    @extend .h2;
  }

  h4 {
    @extend .h4;
    margin-top: 20px;
    letter-spacing: 0.5px;
  }

  .MuiFormControl-root {
    width: 100%;

    .dropdown {
      margin-top: 8px;
      width: 50%;
    }
  }

  .MuiDialogActions-root {
    justify-content: space-between;
    margin: 0 10px;
  }
}

.new-job-root {
  .new-job-heading {
    @extend .h2;
  }

  h3 {
    @extend .h3;
    font-weight: 600;
  }

  .category-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    .MuiFormControl-root {
      width: 100%;

      .job-category-dropdown {
        width: 70%;
        height: 40px;
      }
    }
    .agent-field{
      width: 20%;
    }
    .agent-label {
      align-self: center;
      margin-left: 10px;
    }
  }
}

.job-requirements-root {

  .MuiFormControl-root {
    width: 100%;

    .course-search-input{
      width: 70%;
      height: 40px;
    }
  }
}
