@import '../../../../customStyles/scss/index.scss';
@import '../newStyles.scss';

.contact-center-info-root {
  .contact-center-head {
    // width: 100%;

    // .profile-pic {
    //   width: 65px;
    //   height: 65px;
    //   margin-top: 10px;
    // }

    .company-info-wrapper {
      margin-left: 15px;

      // .MuiRating-root {
      //   &.rating-star {
      //     color: $color-primary;
      //     margin: 15px 5px 0px 5px;
      //     vertical-align: text-bottom;
      //     font-size: 16px;
      //   }

        // h4 {
        //   @extend .h4;
        //   font-size: 14px;
        //   font-weight: 500;
        // }

        // p{
        //   @extend .para;
        //   font-size: 12px;
        // }

        // svg {
        //   font-size: 12px;
        //   margin-right: 7px;
        // }
      // }
    }
  }

  .contact-center-title {
    @extend .h4;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0px;
  }

  .description {
    @extend .para;
    font-size: 14px;
  }

  // .member-count {
  //   @extend .para;
  //   margin-top: 20px;

  //   b {
  //     font-weight: 600;
  //   }
  // }

  .job-post-stats {
    display: inline-flex;
    flex-direction: column;
    .data {
      @extend .para;
      svg {
        margin-right: 10px;
        margin-top: 20px;
      }
    }
  }

  .action-buttons {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    flex-direction: column;
    li {
      margin-right: 10%;
      margin: 10px 0px;
      svg {
        margin-right: 10px;
      }
    }
  }
}


.job-post-root {
  .job-post-heading {
    width: 90%;
    letter-spacing: 1px;
  }

  .job-post-description {
    flex-direction: column;
  }

  // .account-button{
  //   width: fit-content;
  //   color: $color-primary;
  //   padding: 0px;
  //   margin: 10px 0px;
  // }

  // p{
  //   @extend .para;
  //   font-size: 14px;
  // }

  // h3{
  //   @extend .h3;
  // }

  .job-post-specifications {
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 40px;
  }

  .course-section {
    flex-direction: column;
    .text-button {
      font-size: 14px;
      width: fit-content;
      padding: 0px;
      font-weight: 600;
    }
  }
}

.job-application-root{
  h3 {
    padding-bottom: 10px;
  }

  p{
    margin-bottom: 15px;
  }

  .job-application-head {
    width: 100%;

    .candidate-info {
      align-self: center;
      width: 100%;

      .head-with-link {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
      }

      .candidate-head {
        display: inline-flex;
      }

      .text-button {
        width: fit-content;
        float: right;
        font-size: 14px;
        padding: 0px;
      }
    }
  }

  .pending-application-buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;

    .MuiButton-contained {
      box-shadow: none;
    }

    .hire-button {
      float:right;
    }
  }

  .hired-application {
    float: right !important;
    width: 40%!important;
    .hire-message{
      margin-left: 150px !important;
    }
  }
}

.invite-agent-modal {
  width: 680px;
  height: 700px;

  .MuiDialog-scrollPaper {
    overflow-y: scroll;
  }

  .MuiDialog-paperScrollPaper {
    max-height: none;
    margin-top: auto;
  }

  .invite-dialog-title {
    .MuiTypography-root {
      @extend .h2;
    }
  }

  .cross-button {
    button {
      .MuiIconButton-label {
        color: $color-primary;
      }
    }
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }

  .MuiFormControl-root {
    width: 100%;

    .dropdown {
      width: 50%;
    }
  }

  .MuiDialogActions-root {
    justify-content: space-between;
    margin: 0 10px;
  }
}

.new-job-root {
  .category-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    .drop-down-bar {
      width: 80%;
      height: 30px;
    }

    // .MuiFormControl-root {
    //   width: 100%;

    //   .job-category-dropdown {
    //     width: 70%;
    //     height: 40px;
    //   }
    // }

    .agent-field{
      width: 75px;
    }
    .agent-label {
      align-self: center;
      margin-left: 10px;
    }
  }

  .new-input-search {
    border: 1px solid $color-border;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 10px;
    width: 80%;
    height: 40px;

    .input-field {
      @extend .para;
      font-size: 14px;
      width: 80%;
    }
  }
}

.job-requirements-root {

  .drop-down-bar {
    width: 80%;
    height: 30px;
  }

  .MuiFormControl-root {
    width: 100%;

    .course-search-input{
      width: 70%;
      height: 30px;
    }
  }
}

.job-details-root {
  .duration-field{
    width: 75px;
  }
  .duration-label {
    align-self: center;
    margin-left: 10px;
  }
  .locatiom {
    width: 70%;
    height: 30px;
  }
  .drop-down-bar {
    width: 80%;
    height: 30px;
  }
}
