// Background colour
body {
  background: #f8f9fd !important;
}

// Scrollbar styles
body::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
  padding-right: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px 20px 20px 20px ;
}
