.delete-comment {
  margin-left: 15px;
  margin-top: -4px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.style-button {
  &:hover {
    background-color: pink;
  }
}

.channel-header {
  flex: 3
}

.overflow-y-visible {
  overflow-y: visible !important;
}

.new-reply-button {
  position: absolute !important;
  right: 0;
  background-color: #00D1B2 !important;
  height: 36px;
  color: white !important;
}

.topic-home-icon {
  margin-right: 100px;
}
