@import '../../../../../customStyles/scss/index.scss';
@import '../../newStyles.scss';

.course-overview-root {
  .contents {
    svg {
      font-size: 5px;
      vertical-align: middle;
      margin: 0px 15px;
    }
  }
  .overview-list {
    width: 100%;
    // max-width: 360;
    border: 1px solid $color-border;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: none;
    // backgroundColor: theme.palette.background.paper,

    .top-down-icon {
      color: $color-primary;
    }
    .section-heading {
      float: left;

      .MuiTypography-body1 {
        @extend .h4;
        font-weight: 600 !important;
      }
    }
    .nested-list {
      padding-left: 30px;

      .nested-list-heading {
        @extend .para;
        float: left;
      }
    }
  }
}
