.side-cover {
  background: url('https://i.imgur.com/ujIwpoV.jpg');
  background-position: center;
  background-size: cover;
}

.input-fields {
  margin-bottom: 10px;
}

.error-message {
  font-weight: bold;
  color: red;
}

.input,
.textarea,
select {
  box-shadow: none !important;
}

.input {
  color: #878787;
  height: 36px;
  transition: all 0.3s;
  border-color: #ccc;
  font-size: 1.2rem !important;
  height: 52px;
}

.login-button {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.social-login-buttons {
  width: 100%;
  margin-bottom: 15px !important;
  border-radius: 25px !important;
  text-transform: none !important;
}

.section-login {
  padding: 2rem 1.5rem !important;
}

.facebook {
  background-color: #3b5898 !important;
}

.twitter {
  background-color: #3eaced !important;
}

.linkedin {
  background-color: #2c7fb1 !important;
}

.social-login-icons {
  width: 30px;
  height: 30px;
}

.icon.is-medium, .icon.is-right {
  margin-top: 8px;
}

.hero-body-custom {
  align-items: flex-start !important;
}

.hero-heading-custom {
  margin-bottom: 10px;
}
