.review-modal-paper {
  max-width: 600px;
}

.review-modal-heading {
  margin-right: 20px !important;
}

.item-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold !important;
}

.item-image {
  border-radius: 8px;
}

.item-option-padding {
  padding: 4px 16px !important;
}

.group-heading {
  padding: 8px 0px 0px 16px;
}

.view-more {
  margin-left: calc(50% - 50px);
}

.popper {
  scrollbar-color: rgba(72, 119, 244, 0.7) rgb(201, 201, 201);

  ::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }
}
