.post-section {
  .other-options {
    .upload-file {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 6px 16px;
      margin-right: 10px;
      margin:10px;
      background: #f7f7f7;
      border-radius: 200px;
      font-size: .85rem;
      color: #888da8;
      -webkit-transition: all .3s;
      transition: all .3s;
      height: 38px;
      width: 95px;

      .file-input-label {
        margin-left: 7px;
      }

      .input-field {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        margin-left: 10px;
      }

      .ruler {
        height:10px;
        color: black;
      }
    }
  }

  &.create-post-status {
    .add-status-loader {
      position: inherit;
      margin-left: 15px;
      float: right;
    }
  }
}

.post-status-dropdown-menu {
  .remove {
    margin-left: 10px;
  }
}

.post-item-custom {
  width: 100%;
  .feed-image-container {
    width: 100%;
    img {
      cursor: pointer;
      width: 100%;
    }
  }
  .MuiAvatar-root {
    float: left;
    background-color: #344258;
  }

  .custom-avatar {
    padding-left: 7px;
    margin-top: -55px;
  }

  .skeleton-header-container {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;

    .skeleton-avatar-container {
      float: left;
      width: 16%;

      .custom-skeleton-avatar {
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-top: 10px;
        margin-left: 7px;
        float: left
      }
    }

    .skeleton-title-container {
      width: 78%;
      display: inline-block;
      margin-top: 11px;

      .custom-skeleton-title {
        width: 61%;
        height: 20px;
      }

      .custom-skeleton-date {
        height: 15px;
        margin-bottom: 6px;
        width: 31%;
        margin-top: 5px;
      }
    }

    .custom-skeleton-description {
      height: 28px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .skeleton-footer-container {
    height: 350px;
  }

  .custom-skeleton-like-comment {
    width: 30%;
    height: 20px;
    margin-left: 12px;
  }


  .title-bar-style {
    float: left;
    display: block;
    width: 88%;

    .fa-clock-style {
      margin-right: 5px;
    }

    .post-by {
      &:hover {
        color: inherit;
      }
    }
  }

  .post-text-container {
    .post-text {
      display: block;
      width: 100%;

      p {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .icon-style {
    margin-top: -10px;
    margin-left: 9px;

    .button {
      &:hover {
        background: none !important;
      }
    }
  }

  .select-custom {
    .MuiFormControl-root {
      width: 107px;
      margin-top: -3px;
    }
  }

  .chip-custom {
    margin-top: 1px;
    margin-left: 17px;
    width: 100%;

    .MuiChip-outlined  {
      background-color: #f7f7f7;
      margin-bottom: 14px;
    }
  }

  .break-line {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
  }

  .create-post-footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;

    .action {
      margin-right: 0px;
      margin-left: 0px;
      padding-right: 0px;

      .MuiButton-iconSizeMedium > *:first-child {
        font-size: 12px;
      }
      .post {
        margin-left: 15px;
      }
      .align-right {
        float: right;
      }
    }

    .pdl {
      padding-left: 5px;
    }
  }

  .status-activity {
    .like-comment-section {
      height: 27px;
      margin-left: 9px;
      margin-top: 4px;
      margin-bottom: 4px;

      .like-section {
        width: 30px;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 3px;

        .liked {
          color: red !important;
        }

        .like-icon-custom {
          color: white;
          stroke: #bdbdbd;
          stroke-width: 20px;
          width: 22px;
          height: 26px;
          cursor: pointer;
          &:hover {
            color: red;
          }
          path {
            &:hover {
              color: red;
            }
          }
        }

        .likes-count {
          display: inline-block;
          font-size: .9rem;
          color: #888da8;
          margin-left: 9px;
        }
      }

      .comment-section {
        width: 30px;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 25px;

        .comment-icon-custom {
          color: white;
          stroke: #bdbdbd;
          stroke-width: 20px;
          width: 22px;
          height: 26px;
          cursor: pointer;
          &:hover {
            color:white;
          }
          path {
            &:hover {
              color: white;
            }
          }
        }

        .comments-count {
          display: inline-block;
          font-size: .9rem;
          color: #888da8;
          margin-left: 9px;
        }
      }
    }
  }
}

.feed-image-container > img {
  top: 27px;
  height: 350px;
  max-width: 100%;
}

.post-text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
}

.status-wrapper {
  margin-left: 4px;
  &.custom-is-11 {
    width: 91% !important;
  }
  .textarea {
    &.is-grow {
      min-height: 100px !important;
    }
  }
}

.post-status-button {
  position: relative !important;
  right: 0;
  margin-left: 40px;
  margin-bottom: 15px;
  justify-content: flex-start;
  background-color: #00D1B2 !important;
  color: white !important;
}

.post-comments-section {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: #181e28;
  padding: 0 40px;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .liked {
    color: red !important;
  }

  .comment-header-like-icon {
    height: 19px !important;
  }

  .like-icon-custom {
    color: white;
    stroke: #bdbdbd;
    stroke-width: 20px;
    width: 22px;
    height: 26px;
    cursor: pointer;
    &:hover {
      color: red;
    }
    path {
      &:hover {
        color: red;
      }
    }
  }

  .disable-event {
    pointer-events: none;
  }

  .remove-icon {
    color: white;
    cursor: pointer;
  }

  .image-container {
    width: calc(100% - 450px);
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;

    img {
      height: auto;
      max-height: calc(100vh - 47px);
      max-width: 100%;
      width: 100%;
      border-radius: 6px;
    }
  }

  .comment-container {
    background: #fff;
    bottom: 0;
    color: #6c6f73;
    left: auto;
    padding: 10px 0;
    right: 44px;
    top: 0;
    width: 350px;
    text-align: left;
    position: absolute;

    .comment-section-body {
      .MuiLinearProgress-colorPrimary {
        .MuiLinearProgress-barColorPrimary {
          background-color: #344258;
        }
      }

      .MuiAvatar-root {
        background-color: #344258;
      }
      .close-icon-custom {
        position: absolute;
        right: -28px;

        &:hover {
          color: white;
        }

        path {
          &:hover {
            color: white;
          }
        }

        svg {
          font-size: 21px;
        }
      }

      &:hover {
        color: inherit;
      }

      span {
        &:hover {
          color: inherit;
        }
      }
      .header {
        &:hover {
          color: inherit;
        }

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px;
        width: 100%;

        .title-bar-style {
          &:hover {
            color: inherit;
          }

          margin-left: 9px;

          .post-by {
            font-size: 16px;

            span {
              margin-left: 4px;
            }
          }

          .feed-time-small {
            font-size: 11px;

            .fa-clock-style {
              margin-right: 4px;
            }
          }
        }
        .MuiAvatar-root {
          margin-left: 4px;
        }
      }

      .like-comment-section {
        margin-top: 28px;


        .icons {
          width: 60%;
          float: left;
          margin-left: 17px;
        }

        .comments {
          color: #9094ae;
        }

        .count {
          margin-left: 9px;
          margin-right: 9px;
          color: #9094ae;
        }
      }

      .line {
        width: 100%;
        height: 1px;
        display: block;
        background-color: #e8e8e8;
        margin-top: 17px;
      }

      .like-comment-icon {
        color: white;
        stroke: #bdbdbd;
        stroke-width: 20px;
        width: 22px;
        height: 18px;

        &:hover {
          color: white;
        }
        path {
          &:hover {
            color: white;
          }
        }
      }

      .action-header {
        margin-top: 7px;
        width: 100%;
        display: inline-flex;
        .load-comment-section {
          margin-top: 3px;
          width: 70%;
          float: left;
          height: 26px;
        }
        .comments-icon-section {
          width: 30%;
          div {
            display: inline-block;
            margin-top: 3px;
            svg {
              margin-right: 6px;
              margin-top: 3px;
            }
          }
        }
        span:first-child {
          margin-left: 20px;
          font-size: 13px;
          cursor: pointer;
          text-decoration: underline;
        }
        span:nth-child(2) {
          float: right;
          margin-right: 13px;
          font-size: 13px;
          margin-top: 2px;
          color: #9094ae;

          span {
            margin-top: 0px;
            margin-left: 7px;
          }
        }

        span {
          &:hover {
            color: #6c6f72;
          }
        }
      }

      .comments-container {
        height: calc(100vh - 270px);
        overflow-y: auto;
      }

      .comment-input {
        height: 40px;
        position: absolute;
        bottom: 25px;
        left: 5px;

        .MuiInputBase-root {
          float: left;
          width: 275px;
          border-radius: 100px;
          max-height: 57px;
        }

        svg {
          font-size: 37px;
          box-shadow: 2px #999;
          transform: rotate(62deg);
          margin-left: 9px;
          margin-top: 4px;
          width: none;
          height: none;
          cursor: pointer;
          color: #42d2b2;
          &:hover {
            color: #42d2b2;
          }
          path {
            &:hover {
              color: #42d2b2;
            }
          }
        }

        input {
          height: 40px;
          width: 80%;
          margin: 20px 10px;
        }
      }

      .slim-scroll::-webkit-scrollbar {
        width: 8px !important;
      }

      .slim-scroll::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: rgba(0,0,0,0.2) !important;
      }

      .comments-list {
        background: #f5f6f7;
        height: 100%;
        padding: 20px 14px;
        overflow-y: auto;
        overflow-x: hidden;

        .no-comment-msg {
          text-align: center;
          span {
            color: #828487;
            &:hover {
              color: #828487;
            }
          }
        }

        .comment-section {
          display: flex;
          width: 100%;
          margin-bottom: 20px;

          &.skeleton-root {
            .custom-skeleton-comment-img {
              width: 32px;
              height: 32px;
            }

            .comment-body {
              width: 100%;
              height: 65px;
              .username {
                width: 33%;
              }
            }
          }

          .avatar-parent {
            .MuiAvatar-root {
              width: 30px;
              height: 30px;
              font-size: 15px;
            }
          }

          .icon {
            float: left;
          }

          .comment-body {
            float: left;
            background: #fff;
            padding: 10px;
            border-radius: 8px;
            padding-top: 0px;
            margin-left: 10px;
            padding-top: 6px;
            width: 100%;

            .username {
              font-size: .8rem;
              font-weight: 500;
              &:hover {
                color: #6c6f72;
              }
            }

            p {
              font-size: .75rem;
              color: #999;
              word-break: break-all;

              &.comment-time {
                margin-top: 14px;
              }
            }
          }
        }
      }
    }
  }
}
