@import '../../../customStyles/scss/partials/variables';

.agent-today-activity {
  .login-info {
    display: inline-flex;
    align-items: baseline;
  }
}


.agent-stats-cards {
  .stat-card {
    height: 200px;
    padding: 10px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;

    cursor: pointer;
    .image {
      height: 60px;
      margin: auto;
    }

    .stat-val {
      display: inline-flex;
      align-items: center;

      .primary-val {
        &.color-red {
          color: $color-red;
        }
        &.color-green {
          color: $color-green;
        }
        &.color-yellow {
          color: $color-yellow;
        }
      }

      .secondary-val {
        font-size: 20px;
        opacity: 0.5;
      }
    }

    .title {
      text-align: center;
    }
  }
}

.calls-buttons {
  .wait-btn-label {
    font-size: 15px;
    padding: 0px 5px;
    text-align: center;
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }

  .wait-btn-active {
    background-color: $color-green;
    &:hover {
      background-color: $color-green;
    }
  }

  .dial-buttons {
    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  .dial-buttons-label {
    font-size: 15px;
    padding: 0px 5px;
    text-align: center;
    &:hover {
      color: $color-primary;
    }
  }
}

.call-center-agent-tabs-indicator {
  background-color: $color-dark-grey;
}

.call-center-agent-tab-root {
 min-width: unset;
 margin: 15px 10px 0px 10px;
}
