.agent-today-activity {
  .login-info {
    display: inline-flex;
    align-items: baseline;
  }
}


.agent-stats-cards {
  .stat-card {
    height: 200px;
    padding: 10px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;

    cursor: pointer;
    .image {
      height: 60px;
      margin: auto;
    }

    .stat-val {
      display: inline-flex;
      align-items: center;

      .primary-val {
        &.color-red {
          color: #F14667;
        }
        &.color-green {
          color: #23E8B5;
        }
        &.color-yellow {
          color: #FFDD57;
        }
      }

      .secondary-val {
        font-size: 20px;
        opacity: 0.5;
      }
    }

    .title {
      text-align: center;
    }
  }
}

.calls-buttons {

  .call-btn-label {
    font-size: 15px;
    padding: 0px 5px;
    text-align: center;
  }
}
