.group-list-root {
  border: 1px solid #DBDBDB;
	border-radius: 8px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
  padding: 20px 0;

  .group-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;

     .add-icon {
      font-size: 18px;
      color: #444F5F;
     }
  }
  .notification-number{
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #4877F4;
    color: #FFFFFF;
    font-size: 12px;
  }
}

.group-name {
  font-size: 14px;
  font-family: poppins;
  color: #444F5F;
  text-align: left;
}

.trending-topic-root{
  border: 1px solid #DBDBDB;

  h3 {
    font-size: 18px;
    color: #444F5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .topic-info {
    .avatar-logo {
      width: 30px;
      height: 30px;
      margin: auto;
    }
    p{
      margin: auto 5px;
    }
    svg {
      font-size: 12px;
    }
  }
  p {
    padding: 6px 2px;
    font-size: 14px;
    color: #444F5F;
    font-family: 'poppins', sans-serif;
  }
  ul {
    width: 100%;
    justify-content: space-between;
    padding: 0px 2px;
     li{
      font-size: 14px;
       svg{
         margin-right: 5px;
       }
     }
  }
  .divider {
    width: 100%;
    margin: 10px 0;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 10px;
  .section-title {
    font-size: 18px;
    font-weight: 600;
    color: #444F5F;
    margin: auto 0;
  }
   .action-button {
      font-size: 14px;
      position: absolute;
      right: 0;
      padding: 9px 12px;
   }
}

.search-topic-bar {
  margin-bottom: 20px;
   .search-input {
      width: calc(100% - 120px);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DBDBDB;
      border-radius: 8px;
      opacity: 1;
      padding: 2px 0;
      margin-right: 20px;
   }
   .new-topic-button {
    height: 100%;
    width: 100px;
   }
}

.topic-info {
  .topic-owner-avatar {
    margin-right: 10px;
  }
  .topic-details {
    p {
      font-size: 14px;
    }
    .topic-title {
      font-weight: 500;
    }
  }
  .action-buttons {
    width: 100%;
    padding: 10px 0;
      li {
        margin-right: 20%;
          svg {
            margin-right: 5px;
          }
      }
  }
}

// Topic's Details section

.topic-details-box {
  .topic-owner {
    p {
      font-size: 14px;
      margin: auto 5px;
    }
    .owner-name {
      font-weight: 500;
      color: #444F5F;
    }
    .topic-create-date {
      color: #999999;
    }
  }
  .topic-title {
    font-size: 24px;
    font-weight: 600;
    color: #444F5F;
    margin: 10px 0;
  }
  .topic-description {
    font-size: 14px;
    color: #4A4A4A;
  }
  .action-buttons{
    margin-top: 20px;
     li{
      margin-right: 20%;
        svg{
          margin-right: 5px;
        }
     }
  }
}

.textarea-input {
  display: inline-flex;
  width: 100%;
  .avatar {
    margin-right: 8px;
  }
	textarea {
		width: calc(100% - 80px);
		margin: 0 auto;
		display: flex;
		height: 100%;
		border: none;
		resize: none;
		border: 1px solid #DBDBDB;
		border-radius: 8px;
		padding: 10px;
		font-family: 'Poppins', sans-serif;
		&:focus {
			outline: none;
			box-shadow: inherit;
		}
	}
	input[type="file"] {
		right: 10px;
		width: 20px;
		top: 20px;
		opacity: 0;
		z-index: 9999;
	}
}

.galley-icon {
  svg {
    vertical-align: middle;
    font-size: 24px;
    height: 100%;
  }
}

.post-comment-button {
  margin-top: 10px;
  margin-left: calc(100% - 86px);
}

.comments-list{
  h3 {
    font-size: 18px;
    color: #444F5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .commentor-info{
    margin: 20px 0;
    .commentor-name {
      font-weight: 500;
      color: #444F5F;
      font-size: 12px;
    }
    .comment-date {
      font-size: 12px;
      color: #999999;
    }
    .comment-description {
      font-size: 14px;
      color: #4A4A4A;
    }
  }
}

.topic-divider {
  margin-bottom: 20px
}

// ============== Common css ======================

.margin-auto {
  margin: auto;
}

.display-inline-flex {
  display: inline-flex;
}

.width-100-per {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.size-14{
  font-size: 14px;
}

.primary-input-field {
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background: #FFFFFF;
  font-family: "SF Pro Text";
  font-weight: normal;
  color: #4A4A4A;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.is-display-block {
  display: block;
}

.is-max-width-100 {
  max-width: 100%;
}

.is-float-right {
  float: right;
}
