@import '../../customStyles/scss/index.scss';

.section-stats {
  ul {
    width: 100%;
    justify-content: space-between;
    padding: 0px 2px;
    margin-top: 7px;
    li {
      @extend .para;
      margin-right: 10%;
      display: flex;
      color: $color-dark-grey;
        svg {
          margin-top: 2px;
          margin-right: 6px;
          stroke: $color-dark-grey;
          stroke-width: 60px;
          color: white;
          path {
            &:hover {
              color: white !important;
            }
          }
        }
        &:hover {
          color: $color-dark-grey;
        }
    }
  }
}

.group-list-root {
  padding: 20px 0;

  .group-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;

      .add-icon {
        font-size: 18px;
        color: #444F5F;
      }
    }

  .group-item {
    padding: 10px 20px
  }

  .notification-number{
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #4877F4;
    color: #FFFFFF;
    font-size: 12px;
  }
}

.group-name {
  font-size: 14px;
  font-family: poppins;
  color: #444F5F;
  text-align: left;
}

.trending-topic-root{
  @extend .section-stats;
  .topic-info {
    display: flex;

    .avatar-logo {
      width: 30px;
      height: 30px;
    }
    .group-name {
      color: $color-dark-grey;
    }
    p {
      @extend .para;
      margin: auto 5px;
    }
    svg {
      font-size: 12px;
      vertical-align: text-bottom;
      color: $color-paragraph;
    }
  }
  p {
    @extend .para;
    padding: 6px 2px;
  }
    li {
      @extend .para;
      color: $color-dark-grey;
    }
  .divider {
    width: 100%;
    margin: 10px 0;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 10px;
   .action-button {
      font-size: 14px;
      position: absolute;
      right: 0;
      padding: 9px 12px;
   }
}

.search-topic-bar {
  margin-bottom: 20px;
   .search-input {
      width: calc(100% - 110px);
      padding: 2px 0;
      margin-right: 10px;

      .search-field {
        font: normal normal normal 14px/25px SF Pro Text;
        text-align: left;
        letter-spacing: 0px;
        color: $color-dark-grey;
      }
   }
   .new-topic-button {
    height: 100%;
    width: 100px;
   }
}

.topic-info {
  @extend .section-stats;
  .action-buttons {
    width: 100%;
    padding: 10px 0;
  }
}

.topics-pagination {
  height: 32px;
  margin: 30px 0 10px;
  ul {
    float: right;
  }
}

.load-more-comment {
  padding: 0;
  background: white;
  width: 100%;
  span {
    color: $color-primary-dark;
    text-decoration: underline;
  }
}

// Topic's Details section

.topic-details-box {
  .topic-owner {
    p {
      font-size: 14px;
      margin: auto 5px;
    }
    .owner-name {
      font-weight: 500;
      color: #444F5F;
    }
    .topic-create-date {
      color: #999999;
    }
  }
  .topic-title {
    font-size: 24px;
    font-weight: 600;
    color: #444F5F;
    margin: 10px 0;
  }
  .topic-description {
    font-size: 14px;
    color: #4A4A4A;
  }
  .action-buttons{
    @extend .section-stats;
    margin-top: 20px;
  }
}

.textarea-input {
  display: inline-flex;
  width: 100%;
  .avatar {
    margin-right: 8px;
  }

  .comment-content {
    width: calc(100% - 30px);
    border: 1px solid $color-border;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;

    textarea {
      width: 100%;
      margin: 0 auto;
      display: flex;
      height: 100%;
      border: none;
      resize: none;
      margin-bottom: 10px;
      font-family: 'SF Pro Text', Regular;
      font-weight: normal;
      color: #4A4A4A;
      &:focus {
        outline: none;
        box-shadow: inherit;
      }
    }

    .post-image {
      display: inline-block;
      position: relative;

      img {
        height: auto;
        max-width: 100%;
        border-radius: 6px;
      }

      .MuiButtonBase-root {
        position: absolute;
        top: 0;
        right: 0;
        color: red;
      }

      .MuiIconButton-label {
        &:hover {
          color: red;
        }
      }
    }
  }

	input[type="file"] {
		right: 10px;
		width: 0;
		top: 20px;
		opacity: 0;
    z-index: 9999;
	}
}

.galley-icon {
  svg {
    cursor: pointer;
    vertical-align: middle;
    font-size: 24px;
    height: 100%;
    color: $color-dark-grey;
    path{
    &:hover {
        color: $color-dark-grey;
      }
    }
  }
}

.post-comment-button {
  margin-top: 10px;
  margin-left: calc(100% - 86px);
}

.comments-list{
  h3 {
    font-size: 18px;
    color: #444F5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .commentor-info{
    margin: 20px 0;
    .commentor-name {
      font-weight: 500;
      color: #444F5F;
      font-size: 12px;
    }
    .comment-date {
      font-size: 12px;
      color: #999999;
    }
    .comment-description {
      font-size: 14px;
      color: #4A4A4A;
    }
  }
}



  .topic-name-button {
    min-width: min-content;
  }

// ============== Common css ======================

.margin-auto {
  margin: auto;
}

.display-inline-flex {
  display: inline-flex;
}

.width-100-per {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.size-14{
  font-size: 14px;
}

.primary-input-field {
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background: #FFFFFF;
  font-family: "SF Pro Text";
  font-weight: normal;
  color: #4A4A4A;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.is-display-block {
  display: block;
}

.is-max-width-100 {
  max-width: 100%;
}

.is-float-right {
  float: right;
}

.primary-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  opacity: 1;
}

.padding-20 {
  padding: 20px;
}

.date {
  font: normal normal normal 14px/25px SF Pro Text;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.background-none-hover {
  &:hover {
    background: none;
  }
}

.text-align-center {
  text-align: center;
}

.no-padding {
  padding: 0
}

.text-align-left {
  text-align: left;
}
