@import '../../../customStyles/scss/index.scss';

//Box styles
.box {
  border: 1px solid $color-border;
  box-shadow: none;
  padding: 30px;
}

.talent-page {
  .MuiDivider-root {
    margin-bottom: 20px;
    margin-top: 20px
  }
}

// Active Tabs
.people-active-tabs {

  .MuiTabs-flexContainer {
    justify-content: center;
  }

  .MuiTabs-fixed {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .active-tab {
    margin: 0px 5%;

    .MuiTab-wrapper {
      @extend .h3;
      text-transform: none;
    }
  }

  .inactive-tab {
    @extend .active-tab;
    .MuiTab-wrapper {
      color: $color-dark-grey;
      font-weight: 400;
    }
  }

  .MuiTabs-indicator {
    background-color: $color-primary;
  }
}

// Side Filter
.side-filter-root {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 8px;
  box-shadow: none;
  padding-bottom: 30px;

  .title {
    @extend .h2;
    margin: 25px 0px 8px 24px;
  }

  .subtitle {
    @extend .h3;
    margin: 0px 0px 0px 24px;
    padding: 20px 0px;
  }

  .heading {
    @extend .h4;
    margin: 0px 0px 0px 24px;
  }

  .sub-heading {
    @extend .h4;
    margin: 0px 0px 0px 24px;
    font-weight: 500;
  }

  .bold-filter-item {
    @extend .para;
    margin-left: 14px;
    font-weight: bold;
  }
}

// Side filter list items
.filter-list-items {
  .list-item {
    @extend .para;
    color: $color-dark-grey;
    font-size: 15px;
  }

  .MuiListItem-root {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .MuiListItem-gutters {
    padding-right: 12px;
    padding-left: 12px;
  }

  .MuiTypography-displayBlock {
    display: flex;
  }

}

// Search Input
.search-bar-people {
  margin-bottom: 20px;

   .search-input {
      width: 100%;
      background: $color-white 0% 0% no-repeat padding-box;
      border: 1px solid $color-border;
      border-radius: 4px;
      opacity: 1;
      padding: 2px 0;
   }
   .search-button {
      margin-left: 25px;
      width: 150px;
      height: 40px !important;
  }
}

// Drop down bar
.drop-down-bar {
  width: 100%;

  .MuiFormLabel-root {
    padding: 0px 20px 0px 0px;
    @extend .para;
    color: $color-dark-grey;
  }

  &:focus {
    outline: none;
  }
  &:hover {
    color: $color-border;
  }
  .MuiInputBase-root {
    @extend .para;
    color: $color-dark-grey;
  }
}

// Control Buttons common styles
.control-buttons {
  .MuiTypography-root {
    @extend .para;
  }

  .MuiIconButton-root {
    padding-top: 5px;
    padding-bottom: 5px;

    .MuiSvgIcon-root {
      font-size: 1.2rem;
      color: $color-primary;
    }
  }
}

// Control Buttons wrapper
.control-buttons-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

// Radio Buttons
.radio-buttons {
  @extend .control-buttons;

  .MuiRadio-colorSecondary {
    color: $color-primary;
  }
}


// Check boxes
.checkboxes {
  @extend .control-buttons;

  .MuiCheckbox-colorSecondary {
    color: $color-primary;
  }
}

// Input Box
.input-box {
  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 10px;

  textarea {
    @extend .para;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    border: none;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: inherit;
    }
  }
}

// Right section Actions box
.actions-box {
  .title {
    @extend .h2;
  }
  .heading {
    @extend .h3;
    margin-bottom: 30px;
  }
  .text {
    @extend .para;
    margin-bottom: 15px;
  }
  .wide-button {
    width: 100%;
    margin-bottom: 15px;
  }
  .divider-padded {
    margin-bottom: 15px;
  }
}

// Introduction styles
.introduction-root {
  .head-section {
    width: 100%;

    .profile-pic {
      width: 65px;
      height: 65px;
      margin-top: 10px;
    }

    .info-wrapper {
      margin-left: 15px;

      .rating-star {
        margin-left: 0;
      }

      h4 {
        @extend .h4;
        font-size: 14px;
        font-weight: 600;
      }

      p {
        @extend .para;
        font-size: 12px;
      }

      .location, .date {
        font-size: 13px;
        color: $color-dark-grey;

        svg {
          font-size: 12px;
          margin-right: 7px;
        }
      }
    }
  }

  .title {
    @extend .h4;
    width: 100%;
    font-weight: 600;
    margin: 10px 0px;
  }

  .description {
    @extend .para;
  }
}

// text styles

.paragraph-light-content {
  @extend .para;
  color: $color-dark-grey !important;
}

.h4-heading {
  @extend .h4;
}

.profile-pic {
  width: 56px;
  height: 56px;
  margin: 10px;
}

// Divider
.MuiDivider-root {
  &.divider {
    margin: 15px 0;
  }
}
