@import '../../../customStyles/scss/index.scss';

.job-list {
  .job-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .job-list-icon {
      padding-top: 12px;
    }
  }
}


.job-info {
  .action-buttons {
    width: 100%;
    padding: 10px 0;

    li {
      margin-right: 10%;
        svg {
          margin-right: 5px;
        }
    }
  }
}

// job's Details section
// .job-details-box {
//   .job-owner {
//     p {
//       font-size: 14px;
//       margin: auto 5px;
//     }
//     .owner-name {
//       font-weight: 500;
//       color: #444F5F;
//     }
//     .job-create-date {
//       color: #999999;
//     }
//   }
//   .job-title {
//     font-size: 24px;
//     font-weight: 600;
//     color: #444F5F;
//     margin: 10px 0;
//   }
//   .job-description {
//     font-size: 14px;
//     color: #4A4A4A;
//   }
//   .action-buttons{
//     margin-top: 20px;
//      li{
//       margin-right: 20%;
//         svg{
//           margin-right: 5px;
//         }
//      }
//   }
// }

// .textarea-input {
//   display: inline-flex;
//   width: 100%;
//   .avatar {
//     margin-right: 8px;
//   }
// 	textarea {
// 		width: calc(100% - 80px);
// 		margin: 0 auto;
// 		display: flex;
// 		height: 100%;
// 		border: none;
// 		resize: none;
// 		border: 1px solid #DBDBDB;
// 		border-radius: 8px;
// 		padding: 10px;
// 		font-family: 'Poppins', sans-serif;
// 		&:focus {
// 			outline: none;
// 			box-shadow: inherit;
// 		}
// 	}
// 	input[type="file"] {
// 		right: 10px;
// 		width: 20px;
// 		top: 20px;
// 		opacity: 0;
// 		z-index: 9999;
// 	}
// }

// .galley-icon {
//   svg {
//     vertical-align: middle;
//     font-size: 24px;
//     height: 100%;
//   }
// }

// .job-divider {
//   margin-bottom: 20px
// }
