@import '../../../customStyles/scss/index.scss';

.job-list {
  .job-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .job-list-icon {
      padding-top: 12px;
      .MuiIconButton-root {
        color: $color-dark-grey;
        font-size: 18px;
      }
    }
  }
}

.section-heading {
  position: relative;
  margin-bottom: 10px;
  .section-title {
    @extend .h3;
  }
   .action-button {
      font-size: 14px;
      position: absolute;
      right: 0;
      padding: 9px 12px;
   }
}

.search-job-bar {
  margin-bottom: 20px;
   .search-input {
      width: calc(100% - 120px);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DBDBDB;
      border-radius: 8px;
      opacity: 1;
      padding: 2px 0;
      margin-right: 20px;
   }
   .new-job {
    height: 100%;
    width: 100px;
   }
}

.job-info {
  .job-owner-avatar {
    margin-right: 10px;
  }
  .job-details {
    p {
      font-size: 14px;
    }
    .job-title {
      @extend .para;
      font-weight: 600;
      color: #727272;
    }
  }
  .action-buttons {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    li {
      margin-right: 10%;
        svg {
          margin-right: 5px;
        }
    }
    .action-icon {
      font-size: 16px;
      margin-right: 10px;
      color: $color-dark-grey;
    }
    .icon-value {
      @extend .para;
      font-weight: 600;
    }
    .icon-title {
      margin-left: 5px;
      font-size: 15px;
      color: $color-dark-grey;
    }
  }
}

// job's Details section

.job-details-box {
  .job-owner {
    p {
      font-size: 14px;
      margin: auto 5px;
    }
    .owner-name {
      font-weight: 500;
      color: #444F5F;
    }
    .job-create-date {
      color: #999999;
    }
  }
  .job-title {
    font-size: 24px;
    font-weight: 600;
    color: #444F5F;
    margin: 10px 0;
  }
  .job-description {
    font-size: 14px;
    color: #4A4A4A;
  }
  .action-buttons{
    margin-top: 20px;
     li{
      margin-right: 20%;
        svg{
          margin-right: 5px;
        }
     }
  }
}

.textarea-input {
  display: inline-flex;
  width: 100%;
  .avatar {
    margin-right: 8px;
  }
	textarea {
		width: calc(100% - 80px);
		margin: 0 auto;
		display: flex;
		height: 100%;
		border: none;
		resize: none;
		border: 1px solid #DBDBDB;
		border-radius: 8px;
		padding: 10px;
		font-family: 'Poppins', sans-serif;
		&:focus {
			outline: none;
			box-shadow: inherit;
		}
	}
	input[type="file"] {
		right: 10px;
		width: 20px;
		top: 20px;
		opacity: 0;
		z-index: 9999;
	}
}

.galley-icon {
  svg {
    vertical-align: middle;
    font-size: 24px;
    height: 100%;
  }
}

.job-divider {
  margin-bottom: 20px
}
