// Side Filter
.side-filter-root {
  .title {
    margin: 25px 0px 8px 24px;
  }

  .subtitle {
    margin: 0px 0px 0px 24px;
    padding: 20px 0px;
  }

  .heading {
    margin: 0px 0px 0px 24px;
  }

  .sub-heading {
    margin: 0px 0px 0px 24px;
    font-weight: 500;
  }

  .bold-filter-item {
    .MuiTypography-root {
      margin-left: 14px;
      font-weight: bold;
    }
  }
}

// Side filter list items
.filter-list-items {
  .list-item {
    font-weight: normal;
  }

  .MuiListItem-root {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .MuiListItem-gutters {
    padding-right: 12px;
    padding-left: 12px;
  }

  .MuiTypography-displayBlock {
    display: flex;
  }
}

// Job List
.job-list {
  .job-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .job-list-icon {
      padding-top: 12px;
    }
  }
}

// Job Info // To be placed in job styles
.job-info {
  .action-buttons {
    width: 100%;
    padding: 10px 0;

    li {
      margin-right: 10%;
        svg {
          margin-right: 5px;
        }
    }
  }
}


// Search Input
.search-bar-people {
  margin-bottom: 20px;

   .search-button {
      margin-left: 25px;
      width: 15%;
      height: 40px !important;
  }
}


// Control Buttons wrapper
.control-buttons-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

// Right section Actions box
.actions-box {
  .heading {
    margin-bottom: 30px;
  }
  .text {
    margin-bottom: 15px;
  }

  .divider-padded {
    margin-bottom: 15px;
  }

  .wide-button {
    margin-bottom: 15px;
  }
}

// review section
.review-section {
  width: 100%;
  display: inline-flex;
  margin-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }

  .candidate-info {
    align-self: center;
    width: calc(100% - 60px);
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

// Job Skeleton
.job-skeleton-container {
  width: 100%;
  display: inline-block;

  // Skeleton Avatar
  .skeleton-avatar-container {
    float: left;
    margin-right: 10px;
    display: inline-flex;

    .custom-skeleton-avatar {
      width: 55px;
      height: 55px;
      margin-top: 10px;
      float: left
    }

    .custom-skeleton-location {
      height: 18px;
      margin-left: 30px;
      width: 150px;
      margin-top: 12px;
    }
  }

  .skeleton-title-container {
    width: 60%;
    display: inline-block;
    margin-top: 17px;

    .custom-skeleton-description {
      margin-top: 5px;
      height: 20px;
    }
  }

  .custom-skeleton-summary {
    margin-top: 5px;
    height: 150px;
    width: 100% ;
  }

  .status-tray {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .status-item {
      width: 50%;
      height: 30px;
    }
  }

  .custom-skeleton-side-filter {
    width: 100%;
    height: 60px;
  }
}


// Job List Skeleton
.job-list-skeleton-container {

  .custom-skeleton-heading {
    margin-top: 20px;
    height: 50px;
    width: 40%;
  }

  .custom-skeleton-title {
    height: 30px;
    width: 70%;
    margin-top: 20px;
  }

  .custom-skeleton-jobpost-heading {
    margin-top: 20px;
    height: 50px;
    width: 80%;
  }

  .custom-skeleton-jobpost-title {
    height: 30px;
    width: 40%;
    margin-top: 20px;
  }

  .custom-skeleton-summary {
    margin-top: 5px;
    height: 150px;
    width: 100% ;
  }

  .job-status-tray {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .job-status-item {
      width: 30%;
      height: 30px;
    }
  }
}
