@import '../../../containers/People/ContactCenter/Jobs/styles.scss';

.company-suggestions-root {
  .suggested-company {
    width: 100%;

    .profile-pic {
      width: 56px;
      height: 56px;
      margin: 10px;
      margin-left: 0px;
    }

    .candidate-info {
      align-self: center;
      width: calc(100% - 60px);
    }
  }
}

.other-company-title {
  width: 100%;
}

.right-section-open-position {
  display: inline-flex;
  flex-direction: column;

  .view-job-post-button {
    padding: 0px;
  }
}

.custom-modal {
  .MuiDialog-scrollPaper {
    overflow-y: scroll !important;
    height: auto;
  }

  .MuiDialog-paperScrollPaper {
    max-height: none;
  }
}

.job-post-root {
  .job-post-description {
    flex-direction: column;
  }

  .job-post-specifications {
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 40px;
  }

  .course-section {
    flex-direction: column;
  }
}
