@import '../../../../../../customStyles/scss/index.scss';
@import '../../../newStyles.scss';

.course-description {
  font-family: $system-font;
  letter-spacing: 0;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: $color-light-brown;
}

.course-overview-root {
  .contents {
    svg {
      font-size: 5px;
      vertical-align: middle;
      margin: 0px 15px;
    }
  }
}

.course-contents-root {
  .overview-list {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: none;

    .top-down-icon {
      color: $color-primary;
    }
    .section-heading {
      float: left;

      .MuiTypography-body1 {
        @extend .h4;
        font-weight: 600 !important;
      }
    }

    .nested-list {
      padding: 0 5px 0 20px;

      .nested-list-heading {
        float: left;
        .MuiTypography-body1 {
          @extend .para;
          color: $color-dark-grey;

          &:focus, &:hover {
            color: $color-headings !important;
          }
        }
      }

      .text-link {
        cursor: pointer;
      }
    }
    .MuiListItemIcon-root {
      min-width: 40px;
    }
  }
}

.course-reviews-root {
  .heading-section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .filter-icon {
      font-size: 14px;
    }
  }
}

.cover-letter-root {
  h3 {
    @extend .h3;
  }

  p {
    @extend .para;
  }

  .stengths-list {
    @extend .para;

    li {
      margin-left: 10px;
      list-style-type: initial;
   }
  }
}

// Course Preview Modal
.course-preview-modal {

  &.MuiDialog-scrollPaper {
    overflow-y: scroll;
  }

  // &.MuiDialog-paperWidthSm {
  //   max-width: none;
  // }

  // &.MuiDialog-paperScrollPaper {
  //   max-height: none;
  //   margin-top: auto;
  // }

  .cross-button {
    button {
      .MuiIconButton-label {
        color: $color-primary;
      }
    }
  }

  .dialog-left-side {
    width: 25%;
    margin: 20px;
  }

  .dialog-right-side {
    display: inline-flex;
    flex-direction: column;
    width: 75%;

    .section-heading {
      color: $color-dark-grey;
      margin-bottom: 10px;

      span {
        color: $color-headings;
      }
    }

    .post-image {
      display: inline-block;
      position: relative;

      img {
        height: auto;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;
      }
    }
  }

}
