@import '../../../../../../customStyles/scss/index.scss';

.course-overview-root {
  .contents {
    svg {
      font-size: 5px;
      vertical-align: middle;
      margin: 0px 10px;
    }
  }
}

.course-contents-root {
  .overview-list {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: none;
    padding: 0;

    .nested-list {
      padding: 0 20px;

      .text-link {
        cursor: pointer;
      }
    }
    .MuiListItemIcon-root {
      min-width: 30px;
    }
  }
}

.course-reviews-root {
  .heading-section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .filter-icon {
      font-size: 14px;
    }
  }
}

.cover-letter-root {
  h3 {
    @extend .h3;
  }

  p {
    @extend .para;
  }

  .stengths-list {
    @extend .para;

    li {
      margin-left: 10px;
      list-style-type: initial;
   }
  }
}

// Course Preview Modal
.course-preview-modal {

  &.MuiDialog-scrollPaper {
    overflow-y: scroll;
  }

  .cross-button {
    button {
      .MuiIconButton-label {
        color: $color-primary;
      }
    }
  }

  .dialog-left-side {
    width: 25%;
    margin: 20px;
  }

  .dialog-right-side {
    display: inline-flex;
    flex-direction: column;
    width: 75%;

    .section-heading {
      color: $color-dark-grey;
      margin-bottom: 10px;

      span {
        color: $color-headings;
      }
    }

    .post-image {
      display: inline-block;
      position: relative;

      img {
        height: auto;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;
      }
    }
  }

}
