@import '../../../../styles/scss/pages/app-signup';

.error-message {
  font-weight: bold;
  color: red;
}

.process-bar-wrap {
  padding: 30px 0 0 0;
}

.process-bar {
  height: 18px;
  background: $white;
  border-radius: 100px;
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .progress-wrap {
    position: relative;
    margin: 0 12px;
    width: calc(100% - 24px);
    height: 6px;
    border-radius: 100px;

    .track, .bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 100px;
    }

    .track {
      background: lighten($medium-grey, 5%);
      width: 100%;
    }

    .bar {
      background: $accent;
      width: 0;
      transition: width 0.4s;
    }

    .dot {
      position: absolute;
      top: calc(50% - 19px);
      height: 38px;
      width: 38px;
      background: $white;
      border-radius: 50%;
      border: 1.4px solid $fade-grey;
      box-shadow: $light-box-shadow;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      &.is-first {
        left: -19px;
      }

      &.is-second {
        left: calc(25% - 19px);
      }

      &.is-third {
        left: calc(50% - 19px);
      }

      &.is-fourth {
        left: calc(75% - 19px);
      }

      &.is-fifth {
        right: -19px;
      }

      &.is-active {
        border-color: $accent;
        box-shadow: $accent-box-shadow;

        svg {
          stroke: $accent;
        }
      }

      &.is-current {
        border-color: $primary;
        box-shadow: $primary-box-shadow;

        svg {
          stroke: $primary;
        }
      }

      svg {
        height: 16px;
        width: 16px;
        stroke: $placeholder;
        transition: stroke 0.3s;
      }
    }
  }
}

.outer-panel {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 133px);
  background-color: #F8F9FD;

  .outer-panel-inner {
    width: 100%;

    .process-title {
      max-width: 840px;
      margin: 0 auto;
      text-align: left;

      h2 {
        font-family: "Poppins", sans-serif !important;
        font-weight: 600;
        font-size: 50px;
        color: #444F5F;
      }

      .step-title {
        animation: fadeInUp 0.5s;
        display: none;

        &.is-active {
          display: block;
        }
      }
    }

    .role-selector {
      display: flex;
      justify-content: space-evenly;
      margin-left: 250px;
      margin-right: 250px;

      .account-type {
        width: 340px;
        height: 377px;
        background: $white;
        border: 1px solid #DBDBDB !important;
        border-radius: 10px !important;;
        text-align: center;
        margin: auto;
        opacity: 1;
        padding: 25px;

        img {
          display: block;
          margin: 0 auto 20px auto;
          max-height: 140px;
        }

        p {
          font-family: "SF Pro Text", Regular;
          color: #4A4A4A !important;
          font-size: 14px;
          margin-top: 16px;
          margin-bottom: 25px;
          letter-spacing: 0px;
          white-space: pre-wrap;
        }

        .button {
          margin-top: 20px;
          border-width: 1.4px;
          color: $muted-grey;

          &:hover, &.is-loading {
              border-color: $accent;
              background: $accent;
              color: $white;
              box-shadow: $accent-box-shadow;
          }
        }
      }
    }
  }
}

.process-panel-wrap {
  display: none;
  animation: fadeInLeft .5s;
  max-width: 850px;
  max-height: 850px;
  margin: 0 auto;
  padding: 20px 0;
  width: 680px;
  height: 500px;
  background: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  padding: 25px;

  &.is-active {
    display: block;
  }

  .form-panel {
    .field {
      padding: 4px 8px 8px 8px;
      border-radius: 6px;
      background:  white;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .MuiGrid-item {
        height: 90px;
      }

      label {
        font-size: 18px;
        font-weight: 600;
        color: #444F5F;
        text-align: left;
        font-family: 'Poppins', sans-serif;
      }

      .dropdown-field {
        margin-left: 30px;
        .dropdown {
          border: 1px solid #DBDBDB;
          height: 45px;
          border-radius: 6px;
          width: 290px;
          background: #FFFFFF;
          margin-top: 11px;
          font-family: "SF Pro Text", Regular;
          font-weight: normal;
          color: #4A4A4A;
          padding-left: calc(0.75em - 1px);
          padding-right: calc(0.75em - 1px);
        }
      }

      .control {
        input {
          border: 1px solid #DBDBDB;
          height: 45px;
          border-radius: 6px;
          width: 290px;
          background: #FFFFFF;
          margin-top: 11px;
          font-family: "SF Pro Text", Regular;
          font-weight: normal;
          color: #4A4A4A;
        }

        .custom-intl-tel-input {
          input {
            font-size: 1.2rem !important;
            &:hover, &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .success-image {
      display: block;
      max-width: 120px;
      margin: 0 auto;
    }

    .success-text {
      text-align: center;
      margin: 12px auto;
      max-width: 370px;

      h3 {
        font-weight: 500;
        color: $dark-text;
      }

      p {
        font-size: 0.9rem;
        color: $muted-grey;
      }

      .button {
        max-width: 280px;
        color: $accent;
        position: relative !important;
        right: 0;
        margin-left: 40px;
        margin-bottom: 15px;
        justify-content: flex-start;
        background-color: #4677F4 !important;
        color: white !important;

        &:hover, &.is-loading {
          border-color: $accent;
          background: $accent;
          color: $white;
          box-shadow: $accent-box-shadow;
        }
      }
    }
  }

  .photo-upload {
    .preview {
      position: relative;
      height: 120px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1.4px solid $placeholder;
      margin: 0 auto;

      img {
        display: block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }

      .upload-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        border: 3px solid $white;
        background: $placeholder;
        transition: all 0.3s;

        &:hover {
          background: $primary;
        }

        svg {
          height: 14px;
          width: 14px;
          stroke: $white;
          stroke-width: 3px;
        }
      }
    }

    .limitation {
      margin-top: 20px;
      text-align: center;

      small {
        color: #4A4A4A;
        font-family: "SF Pro Text", Regular !important;
        font-weight: 600 !important;
        letter-spacing: 0px;
        font-size: 14px !important;
      }

      .upload-button {
        button {
          border: none;
          background-color: #4877F4;
          color: #fff;
          width: 130px;
          height: 40px;
          font-family: 'Poppins', sans-serif;
          border-radius: 6px;
          padding: 10px 32px;
          margin-bottom: 30px;
          margin-top: 25px;
          &:hover {
            background-color: #3258BE;
            color: white;
          }
          .MuiButton-label {
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  .registration-buttons {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 580px;

    .MuiGrid-item {
      width: 290px;
    }

    .back-button {
      button {
        border: 1px solid #4877F4;
        background-color: #fff;
        color: #4877F4;
        width: 130px;
        height: 40px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
        padding: 10px 32px;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
        &:hover {
          background-color: #4877F4;
          color: white;
        }
        .MuiButton-label {
          &:hover {
            color: white;
          }
        }
      }
    }

    .next-button {
      button {
        border: none;
        background-color: #4877F4;
        color: #fff;
        width: 130px;
        height: 40px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
        padding: 10px 32px;
        margin-left: 170px;
        margin-bottom: 30px;
        margin-top: 10px;
        &:hover {
          background-color: #3258BE;
          color: white;
        }
        .MuiButton-label {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.check-box {
  display: flex ;
}

.check-box-div {
  display: flex;
  margin-right: 25.5px;

  input {
    height: 10px !important;
    width: 10px !important;
    margin-top: 20px !important;
    border: 4px solid #D5DFFC !important;
    transform: scale(1.5);
  }

  .checkbox-label {
    font-family: "SF Pro Text", Regular !important;
    font-weight: normal !important;
    letter-spacing: 0px;
    font-size: 14px !important;
    padding-left: 9.5px !important;
    margin-top: 16px;
    opacity: 1;
  }
}


.intro-logo {
  top: 342px;
  left: 564px;
  border-radius: 6px;
  width: 182px;
  height: 140px;
}

.intl-tel-input {
  margin-top: 11px !important;

  &:hover, &:focus {
    border: none;
    outline: none;
  }

  .country-list {
    .country.highlight {
      margin-bottom: 0px!important;
    }

    .divider {
      margin-top: 0px!important;
    }
  }
}
