@import '../../../../styles/scss/pages/app-signup';

.agent-form {
  .field {
    margin-bottom: 0 !important;
  }
  .form-field {
    margin-bottom: 20px;
  }
  .dropdown {
    width: 98%;
    margin-left: 8px;
  }
}

.role-selector {
  display: flex;
  justify-content: space-evenly;
}

.process-bar-wrap {
  padding: 30px 0 0 0;
}

.check-box-div {
  display: flex;
}

.checkbox-label {
  margin-top: 7px;
}

.intro-logo {
  border-radius: 6px;
}

.intl-tel-input {
  &:hover, &:focus {
    border: none;
    outline: none;
  }
}

.intl-tel-input .country-list .country.highlight {
  margin-bottom: 0px!important;
}

.intl-tel-input .country-list .divider {
  margin-top: 0px!important;
}
