<md-dialog aria-label="Confirm Deletion"  ng-cloak style="width:38%;height:42%">
  <form name="confirmDeleteDialog" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Confirm Delete</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content class="md-padding" layout="column">
            <h3>Are you sure you want to delete this item?</h3>
            <p>
                This action is usually irreversable and cannot be undone.
            </p>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="continue()">
       Yes, I'm Sure
      </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()">
        No, Nevermind!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>