<md-content flex layout-padding layout-align="center center">
    <div class="md-whiteframe-z2">
        <md-input-container class="md-block">
            <label>Fully Qualified URL (including protocol prefix):</label>
            <input type="text" data-ng-model="field.field_default" required>
         </md-input-container>
         <md-input-container class="md-block">
            <label>Width: (specify in pixels, e.g. "44")</label>
            <input type="text" data-ng-model="field.field_size" required>
         </md-input-container>
         <md-input-container class="md-block">
            <label>Height: (specify in pixels, e.g. "20")</label>
            <input type="text" data-ng-model="field.field_max" required>
         </md-input-container>
    </div>
</md-content>