.grid-container {
  width: 80% !important;
  margin: auto !important;
  padding-bottom: 4% !important;
}

.step-heading {
  text-align: center;
  margin-top: 20px;
}

.steps-heading {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.background-image-div {
  height: 50%;
  min-height: 436px;
  background-color: #adabab;
  background-image: url('../../assets/images/bg-invitation-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.60;
  color: black;
}

.div1-h1 {
  top: 100px;
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.div1-h2 {
  position: relative;
  text-align: center;
  top: 120px;
  font-size: 18px;
}

.div2-steps {
  margin-top: 12%;
}

.div3-paper {
  min-height: 200px;
  min-width: 300px;
  position: absolute;
  top: 330px;
  left: calc(50% - 415px);
  padding: 3%;
}

.shareModal-span {
  margin: 12px 20px;
  font-size: 14px;
}

.shareModal-email-div {
  display: inline-flex;
  width: 100%;
}

.shareModal-add-email {
  display: grid;
  margin-right: 20px;
}

.sharemodal-buttons {
  height: 40px;
  text-transform: none !important;
}

.shareModal-add-email-span {
  font-size: 12px;
}

.shareModal-add-email-textbox {
  min-width: 425px !important;
}

.shareModal-divider {
  margin: 20px 0 !important;
}

.shareModal-invite-link {
  margin-left: 8%;
}

.shareModal-invite-fb {
  margin-right: 25px !important;
}

.shareModal-social-h4 {
  margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.snackbar-div {
  padding: 15px;
  background-color: green;
  color: white;
  border-radius: 4px;
  position: relative;
  left: 0;
}

.popup-section {
  margin-top: 60px;
  .popup-image {
    height: 100px;
    // min-height: 436px;
    // background-color: #adabab;
    background-image: url('../../assets/images/popup.png');
    // opacity: 0.60;
    // color: black;
  }
}

.popup-bg {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.3);
}

.invite-text {
	h2 {
		font-size: 32px;
		font-family: 'Poppins', sans-serif;
		padding: 30px 0;
		margin: 0;
		font-weight: bold;
	}
}

.invite-content {
	p {
		font-size: 12px;
		font-family: 'Poppins', sans-serif;
	}
}

.email-section {
	p {
		font-size: 18px;
		margin-bottom: 10px;
		font-weight: bold;
		font-family: 'Poppins', sans-serif;
	}
}

.email-align {
	input {
		width: calc(100% - 145px);
		margin-right: 20px;
		height: 44px;
		padding-left: 15px;
		border-radius: 6px;
		border: 1px solid #DBDBDB;
		font-family: 'Poppins', sans-serif;
	}
	button {
		width: 120px;
		border: none;
		background-color: #4877F4;
		color: #fff;
		border-radius: 6px;
		padding: 10px 32px;
		font-family: 'Poppins', sans-serif;
	}
}
.gmail-contact {
	button {
		border: 1px solid #4877F4;
		background-color: #fff;
		width: 100%;
		padding: 10px;
		color: #4877F4;
		font-family: 'Poppins', sans-serif;
		border-radius: 5px;
		margin-bottom: 30px;
	}
}
.share-links {
	p {
		color: #444F5F;
		font-weight: normal;
		font-size: 12px;
	}
	ul {
		list-style: none;
		justify-content: center;
		padding-top: 10px;
		li {
			padding: 10px;
			a {
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

.social-icons-invite {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.fb {
	background-color: #3b579d;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tw {
	background-color: #00acee;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.in {
	background-color: #0e76a8;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link {
	background-color: #4877f4;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
