.text-button {
  width: 100%;
  padding: 0px;
  border: none;
  background: #f4f4f4;
  color: #7f00ff;
  font-size: 15px;
  outline: none;
  cursor: pointer;
} :hover {
  color: black
}

.steps-icons {
  margin: auto;
  width: 100% !important;
  height: 30px;
}

.cross-button {
  position: absolute;
  right: 0;
}

.custom-login-button {
  transition: all 0.5s;
  color: white;
  padding: 10px 50px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 500px;
  justify-content: center;

  &:hover {
    color: white !important;
    background-color: #3273dc !important;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.7;
  }

  &:focus {
    outline: unset;
  }
}

.custom-signup-button {
  transition: all 0.5s;
  color: white;
  padding: 10px 45px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 500px;
  justify-content: center;
  background-color: #3273dc !important;
  opacity: 0.8;

  &:hover {
    color: white !important;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.7;
  }

  &:focus {
    outline: unset;
  }
}
