// Create New Post

.create-post-container {
  .image-icon {
    font-size: 25px;
  }
  .MuiList-padding {
    padding: 10px;
  }

  // Comment Avatar
  .comment-avatar {
    margin: 0px 10px 10px 0px;
  }
  .create-post {
    width: calc(100% - 100px);

    .post-content {
      border: 1px solid $color-border;
      border-radius: 8px;
      padding: 10px;

      textarea {
        width: 100%;
        margin: 0 auto;
        display: flex;
        height: 100%;
        border: none;
        resize: none;
        margin-bottom: 10px;
        font-family: 'SF Pro Text', Regular;
        font-weight: normal;
        color: #4A4A4A;
        &:focus {
          outline: none;
          box-shadow: inherit;
        }
      }

      .post-image {
        display: inline-block;
        position: relative;
        margin-top: 10px;
        align-self: center;

        img {
          height: auto;
          max-width: 100%;
          border-radius: 6px;
        }

        .MuiButtonBase-root {
          position: absolute;
          top: 0;
          right: 0;
          color: $color-white !important;
        }

        .MuiIconButton-label {
          &:hover {
            color: $color-white;
          }
        }
      }
    }

    .postButtons {
      justify-content: space-between;
      display: inline-flex;
      width: 100%;
      margin-top: 10px;

      .cancel-button {
        float:left;
      }

      .permission-button {
        margin-right: 30px;
        width: 100px;
        border-radius: 6px;

        .MuiButton-label {
          width: 90px;
        }
      }

      .post-button {
        float:right;
        right: 0;
      }
    }
  }

  input[type="file"] {
    right: 10px;
    width: 20px;
    top: 20px;
    opacity: 0;
    z-index: 9999;
  }
}


//Post Skeleton
.post-skeleton-container {
  width: 100%;
  display: inline-block;

  // Skeleton Avatar
  .skeleton-avatar-container {
    float: left;
    margin-right: 10px;

    .custom-skeleton-avatar {
      width: 55px;
      height: 55px;
      margin-top: 20px;
      margin-top: 10px;
      float: left
    }
  }

  .skeleton-title-container {
    width: 90%;
    display: inline-block;
    margin-top: 17px;

    .custom-skeleton-title {
      width: 25%;
      height: 20px;
    }

    .custom-skeleton-date {
      height: 18px;
      margin-bottom: 20px;
      width: 32%;
      margin-top: 5px;
    }
  }

  .custom-skeleton-description {
    margin-top: 5px;
    height: 15px;
  }

  .custom-skeleton-photo {
    height: 300px;
    border-radius: 8px;
  }

  .MuiSkeleton-text {
    transform: scale(1, 0.90);
  }

  .icon-tray {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding-right: 80px;

    .icon-option {
      width: 20%;
      height: 30px;
    }
  }
}

// Post Head
.post-head {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;

  .MuiAvatar-root {
    width: 56px;
    height: 56px;
  }

  .profile-pic {
    margin: 10px;
    margin-left: 0px;
    flex: 1;
    align-self: center;
  }
}

// Post Body
.post-body {
  .post-text {
    margin: 10px 0px 15px 0px;
  }
  .post-image {
    border-radius: 8px;
  }
}

// Post Icons Tray
.post-icons-tray {
  .post-icons {
    font-size: 22px;
    color: white;
  }

  .like-icon {
    @extend .post-icons;
    @include fa-icon-hover($color-red);
    @include fa-icon-outlined($color-red);
  }
  .liked-icon {
    @extend .like-icon;
    color: $color-red;
  }

  .comment-icon {
    @extend .post-icons;
    @include fa-icon-hover($color-white);
    @include fa-icon-outlined($color-info);
  }
  .share-icon {
    @extend .post-icons;
    @include fa-icon-hover($color-primary);
    @include fa-icon-outlined($color-primary);
  }

  .option-text {
    padding: 15px 0px 15px 0px;
    background-color: $color-white;
    .MuiButtonBase-root {
      color: $color-dark-grey;
      background-color: $color-white;
    }
    .MuiButton-label {
      font-family: $pro-font;
      font-size: 15px;
      color: $color-dark-grey;
    }
  }

  ul {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
    li {
      display: flex;
      svg {
        margin-right: 4px;
      }
      font-size: 14px;
      width: 100%;
    }
  }
}

// Post Options
.post-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  border-radius: 8px;
  padding: 5px;

  .option {
    display: flex;
    justify-content: flex-start;
    background-color: $color-white;
    .option-icon {
      flex: 1;
      margin: auto;
    }
    .option-name {
      flex: 2;
      margin: 5px;
      font-size: 14px;
    }
  }
  .option-label {
    margin: 2px 6px;
  }
}

.activity-permission-filter {
  width: 230px;
  padding: 10px 15px 10px 5px ;
  border-radius: 8px;
}

.edit-post-content {
  overflow-y: hidden;
  margin-bottom: 20px;
}
