/*! _core.scss | Qubicles */

/* ==========================================================================
Core SCSS file
========================================================================== */

/* ==========================================================================
0. Wallop fullscreen slider
========================================================================== */
.Wallop {
    top: -65px;
    .Wallop-list {
        width: 100%;
        height: 100%;
    }
    .Wallop-item {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Wallop-buttonPrevious, .Wallop-buttonNext {
        position: absolute;
        top: 48%;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 6;
        &:hover {
            i {
                opacity: 0.8;
                transform: scale(1.05);
            }
        }
        i {
            font-size: 3.5rem;
            color: $white;
            transition: all .4s;
        }
        &:active, &:focus {
            outline: none !important;
        }
    }
    .Wallop-buttonPrevious {
        left: 20px;
    }
    .Wallop-buttonNext {
        right: 20px;
    }
    .Wallop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        z-index: 1;
    }

    /* Pagination */
    .Wallop-pagination {
        text-align: center;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 40px;
        z-index: 100;
    }

    .Wallop-dot {
        text-indent: -9999px;
        border: 0;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 5px;
        background-color: #ccc;
        cursor: pointer;
        -webkit-appearance: none;
        &:active, &:focus {
            outline:  none !important;
        }
    }

    .Wallop-dot--current {
        background-color: $primary;
    }
    //Slider caption
    .Wallop-caption-wrapper {
        align-items: center;
        min-height: 100vh;
        position: relative;
        z-index: 99;
        .container {
            position: relative;
            min-height: 500px;
            height: 100vh;
            display: flex;
            .caption-inner {
                h1 {
                    font-family: 'Nexa Bold', sans-serif;
                    font-weight: 700;
                    font-size: 3.8rem;
                    line-height: 3.8rem;
                    color: $white;
                }
                .caption-divider {
                    width: 30%;
                    height: 3px;
                    background: $white;
                    margin: 10px 0;
                }
                .caption-text {
                    //max-width: 90%;
                    //padding: 10px 0;
                    color: $white;
                    font-size: 1.05rem;
                    font-weight: 400;
                    .action {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}

.hero-foot.is-pulled {
    margin-top: 0px;
}

//Wallop slider media query (mobile)
@media (max-width: 767px) {
    .caption-inner {
        max-width: 100% !important;
        top: 30% !important;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        .caption-divider {
            height: 3px !important;
            margin: 10px auto !important;
        }
        h1 {
            font-size: 3.2rem !important;
        }
        .caption-text span {
            margin: 0 20px;
            display: block;
        }
    }
}

//Wallop slider media query (tablet in portrait mode)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .caption-inner {
        text-align: center;
        position: relative;
        top: 40vh !important;
        .caption-divider {
            margin: 10px auto !important;
            height: 3px !important;
        }
        .caption-text {
            padding: 0 15%;
        }
    }
    .is-tablet-padded {
        padding: 0 20% !important;
    }
}

/* ==========================================================================
1. Section title
========================================================================== */

.title.main-title {
    font-family: 'Nexa Bold', sans-serif;
    margin-bottom: 10px;
    padding: 20px 0;
}

.section-title-wrapper {
    .section-title {
        font-family: 'Nexa Bold', sans-serif;
        margin-bottom: 0;
        padding: 10px 0;
    }
    .subtitle {
        font-family: 'Nexa Light', sans-serif;
        font-size: 1.2rem;
        line-height: 30px;
        font-weight: 400;
        padding: 20px 25%;
        color: $title-grey;
    }
}

.section-subtitle, .title.feature-title {
    font-family: 'Nexa Bold', sans-serif !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
    margin-bottom: 0 !important;
    padding: 5px 0 !important;
}

@media (max-width: 767px) {
    .section-title-wrapper {
        .subtitle {
            font-size: 1.1rem;
            line-height: 22px;
            padding: 30px 0;
        }
    }
}

//(Portrait mode)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .section-title-wrapper {
        .subtitle {
            padding: 20px 10% !important;
        }
    }
}

//Parallax title
.parallax-title {
    font-family: 'Nexa Bold', sans-serif;
    font-weight: 600 !important;
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
    padding: 10px 0;

}

.light-text {
  color: #fff !important;
}

/* ==========================================================================
2. Icon box
========================================================================== */

.startup-icon-box {
    padding: 20px 0;
    i {
        font-size: 3.8rem;
        font-weight: normal;
        color: $primary;
    }
    .box-title {
        font-family: 'Nexa Light', sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: $blue-grey;
        padding: 5px 0;
    }
    .box-content {
        color: $muted-grey;
    }
}

.LP-step-1-icons {
  font-size: 4rem;
  color: #3573db;
}

/* ==========================================================================
3. Images
========================================================================== */

//Featured images
.featured-svg {
    max-width: 450px;
}

@media (max-width: 767px) {
    .featured-svg {
        max-width: 100% !important;
    }
}

/* ==========================================================================
4. Cards
========================================================================== */

//Feature cards
.feature-card.is-startup {
    padding: 20px;
    img {
        margin: 0;
    }
}

//Values cards
.values-cards {
    .feature-card {
        height: 310px;
    }
    .card-feature-description {
        font-size: 95%;
    }
    .card-icon {
        padding-top: 50px;
        i {
            font-size: 5rem;
            color: $primary;
        }
    }
    &.is-minimal {
        padding: 0 8%;
        i {
            color: $blue-grey;
            font-size: 4.5rem;
        }
        .feature-card:hover {
            i {
                color: $primary;
            }
        }
    }
}

//Values cards media query (mobile)
@media (max-width: 768px) {
    .values-cards.is-minimal {
        padding: 0 !important;
    }
}

//Startup contact page cards
.contact-card {
    display: flex;
    align-content: center;
    align-items: center;
    .icon i {
        font-size: 26px;
        color: $accent;
        position: relative;
    }
    .contact-info {
        margin: 0 30px;
        .contact-name {
            color: $placeholder;
        }
        .contact-details {
            .details-text {
                font-size: 16px;
                color: $blue-grey !important;
            }
        }
    }
}

/* ==========================================================================
5. Team section
========================================================================== */

//Team section
.modern-team.startup-team {
    .modern-team-item {
        padding: 0 5px;
        width: 33%;
        .item-wrapper {
            border: 1px solid $fade-grey;
        }
        .item-img {
            &:before {
                content: "";
                background-color: rgba(79, 193, 234, .8);
            }
        }
        img {
            border-radius: 10px;
        }
        &:hover .item-img {
            border-radius: 10px;
        }
        a {
            i {
                color: $primary;
            }
            &:hover i {
                color: $blue-grey;
            }
        }
    }
}

//Team section media query (mobile only)
@media (max-width: 767px) {
    .modern-team-item {
        width: auto !important;
    }
    #google-map {
        min-height: 50vh;
    }
}

/* ==========================================================================
6. Parallax counters
========================================================================== */

//Parallax counters icons
.parallax-counter.is-primary i {
    color: $primary !important;
}
