@import '../../../customStyles/scss/partials/variables';
@import '../../../customStyles/scss/partials/mixins';
@import '../../Dashboard/Posts/style.scss';
@import '../../Dashboard/PostComments/style.scss';

.top-talent-root{
  .top-talent {
    width: 100%;

    .profile-pic {
      width: 56px;
      height: 56px;
      margin: 10px;
      margin-left: 0px;
    }

    .candidate-info {
      align-self: center;
      width: calc(100% - 60px);
    }
  }
}

.wallet-root {
  .price-green {
    color: $color-green;
  }

  .price-red {
    color: $color-red;
  }
}

.custom-modal {
  .MuiDialog-scrollPaper {
    overflow-y: scroll !important;
    height: auto;
  }

  .MuiDialog-paperScrollPaper {
    max-height: none;
  }

  .editProfile-modal {
    .photo-upload {
      .preview {
        position: relative;
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1.4px solid $color-light-grey;
        margin: 0 auto;

        .profile-pic-preview {
          height: 118px;
          width: 118px;
          margin: auto;
        }

        .close-button {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          border: 3px solid $color-white;
          background: $color-light-grey;
          opacity: 0.9;
          transition: all 0.3s;

          &:hover {
            opacity: 1.5;
          }

          svg {
            height: 14px;
            width: 14px;
            stroke: $color-white;
            stroke-width: 3px;
          }
        }
      }
    }

    .choose-image {
      display: inline-flex;
      justify-content: center;
      width: 100%;

      .choose-file-button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 120px;
      }

      input[type="file"] {
        display: none;
      }
    }
  }
}
