// Community Reputation
.community-rep {
  .rating {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    .rating-text {
      @extend .h3;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 24px;
    }
    .rating-info {
      @include fa-icon-outlined($color-white);
      font-size: 23px;
      vertical-align: initial;
    }

    .MuiRating-root {
      &.rating-star {
        color: $color-primary;
        margin: 0px 5px 0px 5px;
        vertical-align: text-bottom;
      }
    }
    .rating-info {
      @include fa-icon-outlined($color-white);
      font-size: 25px;
      margin: 0px 5px 0px 10px;
      vertical-align: text-bottom;
    }
  }
  .rep-info {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
    .fa-icon {
      font-size: 24px;
      margin: auto;
      margin-right: 5px;
    }

    .heart-icon {
      color: $color-red;
      @include fa-icon-hover($color-red)
    }
    .user-icon {
      color: $color-info;
      @include fa-icon-hover($color-info)
    }

    .avatar-group {
      margin: 0px 5px 0px 5px;
    }
  }

}

// Background Checking

.background-check {

  .text {
    @extend .para;
    margin-bottom: 15px;
  }
  .background-check-buttons {
    width: 100%;
    margin-top: 10px;
  }
  .custom-btn {
    margin: 10px;
    min-width: 125px;
  }
}


// Latest Announcements
.announcement-section {
  .announcement-list {
    .announcement-item {

      display: flex;
      margin-bottom: 10px;
      border-bottom: 1px solid $color-border;

      .date {
        flex: 1;
        @extend .para;
        margin: 5px;
        margin-right: 10px;
      }

      .text {
        @extend .para;
        @extend .text;
        flex: 5;
        align-self: center;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// Job Postings
.job-postings {

  .job-list {
    display: flex;
    flex-direction: column;

    .job-item{
      border-bottom: 1px solid $color-border;
      margin-bottom: 10px;

      .title {
        @extend .para;
        margin-bottom: 0px;
      }

      .applicants {
        @extend .para;
        margin-bottom: 10px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
