@import '../../customStyles/scss/partials/variables';

.user-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 10px;
  padding: 20px;
  padding-top: 0px;

  .profile-pic {
    margin: 10px;
    margin-top: 0px;
    width: 56px;
    height: 56px;
    align-self: center;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    .option {
      display: flex;
      justify-content: flex-start;
      background-color: $color-white;
      .option-icon {
        flex: 1;
        margin: auto;
      }
      .option-name {
        flex: 2;
        margin: 5px;
        font-size: 14px;
      }
    }
  }
}

.navbar-root {
  display: inline-block;
  width: 100%;

  .left-bar {
    float: left;
    border-right: 1px solid $color-border;
    max-width: 80px;
    height: 100vh;
    background-color: $color-white;
    position: fixed;
  }

  .right-section {
    background-color: $color-background;
    min-height: 100vh;
		float: right;
    width: calc(100% - 80px);
    .route-component {
      margin-top: 84px;
      padding: 10px 30px 30px;
    }
	}
}

.topbar-root {
  width: inherit !important;
  background-color: $color-background !important;
  .topbar-toolbar {
    padding: 12px 30px;
  }
  .search-input {
    background: $color-white 0% 0% no-repeat padding-box;
    border: 1px solid $color-border;
    border-radius: 8px;
    opacity: 1;
    height: 45px;
    margin: auto;
      .input-field {
        height: 100%;
        width: calc(100% - 36px);
      }
  }

  .notification-icons {
    display: inline-flex;
      img{
      width: 24px;
      height: 24px
    }
    .notification-button {
      width: 64px;
    }
  }

  .topbar-avatar {
    margin: auto 0px auto 0px;
    background-color: $color-background;
    .avatar {
      margin: auto
    }
  }
}

.sidebar-root{
  .qubicles-logo{
    text-align: center;
    margin-bottom: 20px;
    img {
        max-width: 80px !important;
      }
  }

  .menu-list {
    .menu-item-root {
      display: inline-block;
      text-align: center;
      width: 100%;

      .menu-item-icon-root {
        margin: 5px 0px;
        svg {
          margin: auto;
        }
      }
      .menu-item-title {
        font-size: 14px;
        text-align: center;
      }
    }
    .menu-item-gutter {
      padding: 10px 0px;
      margin: auto;
    }
    a {
      padding: 0;
    }
  }
}

.container-max-width {
  max-width: 1480px !important;
}


.notifications-popover {
  .notification-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    width: 450px;

    .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 10px 20px;

      .profile-picture {
        width: 100%;
        height: 40px;
        max-width: 40px;
        margin-right: 10px;
      }

      .notification-message {
        width: 100%;
        max-width: calc(100% - 110px);
        margin-right: 0px;
        font-size: 14px;
      }

      .icons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 50px;
        margin-left: 10px;
        align-items: self-start;
      }

      .notification-time {
        font-size: 13px;
        color: gray;
      }
    }

    .options:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }

    .options:first-child {
      padding-top: 20px;
    }

    .options:last-child {
      padding-bottom: 20px;
    }

    .view-more-button {
      margin: 0px auto 10px auto;
    }
  }

  .MuiPaper-root::-webkit-scrollbar {
    width: 8px !important;
  }

  .MuiPaper-root::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }
}
