@import '../../../../customStyles/scss/index.scss';

.course-card {
  border-radius: 8px;
  position: relative;

  &.cursor-pointer {
    cursor: pointer;
  }

  .course-card-content {
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price-overlay {
    width: 80px;
    height: 50px;
    position: absolute;
    border-radius: 6px;
    margin-top: 6rem;
    margin-left: 10px;
  }

  .progress-overlay {
    width: 80px;
    height: 40px;
    position: absolute;
    border-radius: 6px;
    margin-top: 7rem;
    margin-left: 10px;

    .progress-text {
      padding: 0.5rem 0;
      text-align: center;
    }
  }

  .overlay-button {
    border-radius: 0px !important;
    width: 100% !important;
    height: 40px !important;
    position: absolute;

  }

  .test-count-icon{
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    padding: 4px 6px;
  }

  .course-image {
    height: 10rem;
    border: none;

    &.round-border {
      border-radius: 8px;
    }
  }
}

.course-sections {
  span  {
    flex: 4;
    text-align: center;
    vertical-align: text-bottom;
  }

  .circle-svg {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 5px;
  }
}

.all-courses-box {
  display: inline-flex;
  position: relative;
  width: 100%;
  align-items: center;

  .filter {
    position: absolute;
    right: 0
  }
}

.courses-pagination {
  height: 32px;
  margin: 30px 0 10px;

  ul {
    float: right;
  }
}

.category-heading {
  padding-top: 20px;
  margin: 0px 0px 0px 25px;
}

// Slider
// Reference link: https://material-ui.com/components/slider/#customized-sliders
.custom-slider-root {
  color: $color-primary !important;

  .custom-slider-track {
    height: 10px;
    border-radius: 8px;
  }

  .custom-slider-rail {
    height: 10px;
    border-radius: 8px;
  }

  .custom-slider-thumb {
    color: $color-primary;
    height: 20px;
    width: 20px;
    margin-left: -10px;

    &:hover {
      color: $color-primary;
    }
  }

  .custom-slider-value-label {
    left: calc(-50% + 4px),
  }

  .custom-slider-mark {
    height: 5px;
    width: 1px;
    margin-top: 3px;
  }

  .custom-slider-mark-label {
    margin-top: 5px;
  }
}
