.MuiButtonBase-root {
  &.custom-button-primary{
    color: white;
    min-width: 140px;
    height: 36px;
    color: white !important;
    background-color: $primary-palette-blue !important;
    border-radius: 6px;
  }

}
.MuiButton-label {
  &.custom-button-label-hover:hover{
    color: white;
  }
}

.icon-hover {
  cursor: pointer;
  &:hover {
    color: white;
  }
  path {
    &:hover {
      color: white;
    }
  }
}

.text-button {
  width: 100%;
  padding: 0px;
  border: none;
  background: #f4f4f4;
  color: #7f00ff;
  font-size: 15px;
  outline: none;
  cursor: pointer;
} :hover {
  color: black
}

.steps-icons {
  margin: auto;
  width: 100% !important;
  height: 30px;
}


.search-bar-header {
  display: inline-flex;
  width: 100%;
}

.people-search-bar {
  margin: 0 !important;
}


.new-job-button {
  position: absolute !important;
  right: 0;
  margin-top: 10px !important;
  background-color: #00D1B2 !important;
  color: white !important;
}


.cross-button {
  position: absolute;
  right: 0;
}

.width-full {
  width: 100%
}

.display-inline-grid {
  display: inline-grid;
}

.display-inline-flex {
  display: inline-flex;
}

.text-align-center {
  text-align: center;
}

.modal-checkbox {
  padding: 10px 10px 10px 0px !important;
  margin: 10px 0px !important;
}

.no-data-message {
  font-size: 1.6rem;
  font-family: 'Nexa Bold', sans-serif;
  color: #444F60;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Background colour

body {
  background: #f8f9fd !important;
}

// Scrollbar styles

body::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
  padding-right: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px 20px 20px 20px ;
}

.custom-login-button {
  transition: all 0.5s;
  line-height: 0 !important;
  color: #444f60;
  padding: 22px 40px !important;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 500px;
  border-width: 2px;
  border-color: #7f00ff !important;
  color: #7f00ff !important;
  background-color: transparent !important;
  justify-content: center;

  &:hover {
    color: white !important;
    background-color: #7f00ff !important;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.8;
  }
}
