.MuiButtonBase-root {
  &.custom-button-primary{
    color: white;
    min-width: 130px;
    height: 36px;
    color: white !important;
    background-color: $primary-palette-blue !important;
  }

}
.MuiButton-label {
  &.custom-button-label-hover:hover{
    color: white;
  }
}

.icon-hover {
  cursor: pointer;
  &:hover {
    color: white;
  }
  path {
    &:hover {
      color: white;
    }
  }
}

.text-button {
  width: 100%;
  padding: 0px;
  border: none;
  background: #f4f4f4;
  color: #7f00ff;
  font-size: 15px;
  outline: none;
  cursor: pointer;
} :hover {
  color: black
}

.steps-icons {
  margin: auto;
  width: 100% !important;
  height: 30px;
}
