.topic-remove {
  margin-top: -20px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.primary-button {
  background-color: #00D1B2 !important;
  width: 140px;
  height: 36px;
  color: white !important;
}

.button {
  padding: 22px 35px !important
}

.primary-button-label:hover {
  color: white;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.ck-content {
  min-height: 120px;
}

.cross-button {
  position: absolute;
  right: 0;
}
