.topic-remove {
  margin-top: -20px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.new-topic-button {
  background-color: #00D1B2 !important;
  width: 140px;
  height: 36px;
  color: white !important;
}

.button {
  padding: 22px 35px !important
}

.new-topic-button-label:hover {
  color: white;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.ck-content {
  min-height: 120px;
}

.cross-button {
  position: absolute;
  right: 0;
}

.add-new-tag-button {
  color: white !important;
  background-color: #00D1B2 !important;
  font-size: 19px !important;
	box-shadow: 2px 2px 4px #999;
}

.cancel-button {
  color: red ;
}

.submit-button {
  color: green;
}

.add-tag-textfield {
 width: 120px;
}

.new-tag-field {
  display: inline-block;
  min-width: 170px;
  max-width: 170px;
}

.is-public-topic {
  padding: 10px 10px 10px 0px !important;
  margin: 10px 0px !important;
}

.topic-titile-field {
  margin-bottom: 10px !important;
}

.ck-editor {
  margin-top: 5px;
}
