.button-root {
  margin-right: 15px !important;
  opacity: 0.95;
  display: block;

  .MuiButton-label {
      color: white;
      font-weight: bolder;
  }
}

.MuiSnackbarContent-message {
  &:hover {
    color: white;
  }
}

.snackbar {
  z-index: 11000 !important;
}
