.button-root {
    width: 15px;
    height: 15px;
    padding: 0px !important;
    display: block;

    .MuiButton-label {
        color: white;
        font-weight: bold;
    }
}

.MuiSnackbarContent-message {
  &:hover {
    color: white;
  }
}

.snackbar {
  z-index: 11000 !important;
}
