.people-search-bar {
  margin: 0 !important;
}

.search-bar-header {
  display: inline-flex;
  width: 100%;
}

.job-search {
  width: 80%;
  margin: 15px;
  position: relative;
  transition: all .3s;
}

.new-job-button {
  position: absolute !important;
  right: 0;
  margin-top: 10px !important;
  background-color: #00D1B2 !important;
  color: white !important;
}

.button.secondary-btn {
  &.new-job-button {
    position: absolute !important;
    right: 42px;
    background-color: #00D1B2 !important;
    margin-top: 0px !important;
    margin-right: 18px !important;
  }
}


.people-header-paper {
  display: inline-flex;
  width: 100%;
}

.people-header-icon {
  border-radius: 0 !important;
  margin: auto 10px;
}

.people-header-title {
  margin: auto 10px;
  font-weight: 500;
  font-size: 24px;
  color: black;
}

.people-header-icons {
  font-size: 17px !important;
}

.people-header-action-icon {
  position: absolute !important;
  right: 40px;
  margin-top: 7px !important;

}

.display-inline-grid {
  display: inline-grid;
}

.display-inline-flex {
  display: inline-flex;
}

.text-align-center {
  text-align: center;
}

.user-info {
  width: calc(100% - 185px);
}

.menu-icon-button {
  width: 26px;
  height: 26px;
  position: absolute !important;
  right: 50px;
}

.background-check-div {
  margin-left: calc(100% - 500px);
}

.checkbox-style {
  margin: auto;
  width: 100%;
}

.training-title-info-div {
  width: calc(100% - 90px);
}

.training-qubicles-logo {
  width: 20px;
  height: 20px;
}

.training-tag-type-style {
  padding: 6px 18px;
  background: #f2f2f2;
  border-radius: 25px;
}

.training-by-span {
  position: absolute;
  right: 5%;
  margin-top: 6px;
}

.training-video {
  border-radius: 8px;
  margin: auto;
}

.loader-custom {
  margin-top: 63px;
}
