
.new-course-wrapper {
  .info-tab-section {
    width:  100%;
    margin-bottom: 40px;
  }
}

.content-tab-section {
  margin-top: 30px;
  padding-bottom: 40px;
}


.filter-input {
  width: 25%;
  margin: 0px 10px;
}

.input-label {
  padding-top: 2%;
  margin-right: 5%;
}

.content-box {
  width: 100%;
  display: inline-flex;

  .info {
    width: 25%;
   margin-right: 30px;
  }

  .thumbnail-preview {
    height: 180px;
    width: calc((180 / 9) * 16px) ;
    position: relative;
    img {
      height: inherit;
      width: inherit;
    }
    .cross-button {
      position: absolute;
      top: -25px;
      right: -38px;
    }
  }
}

.course-thumbnail-upload {
  align-self: center;
  width: 75%;

  .button-width {
    width: 140px;
  }
}
