.course-overview-root {
  .contents {
    svg {
      font-size: 5px;
      vertical-align: middle;
      margin: 0px 10px;
    }
  }
}

.course-contents-root {
  .overview-list {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: none;
    padding: 0;

    .nested-list {
      padding: 0 20px;

      .text-link {
        cursor: pointer;
      }
    }
    .MuiListItemIcon-root {
      min-width: 30px;
    }
  }
}

.course-reviews-root {
  .heading-section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .filter-icon {
      font-size: 14px;
    }
  }
}


// Course Preview Modal
.course-preview-modal {
  .dialog-left-side {
    width: 25%;
    margin: 20px;
  }

  .dialog-right-side {
    display: inline-flex;
    flex-direction: column;
    width: 75%;

    .post-image {
      display: inline-block;
      position: relative;

      img {
        height: auto;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;
      }
    }
  }

  .course-content-area {
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .course-content-area::-webkit-scrollbar {
    width: 8px !important;
  }

  .course-content-area::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }

  .course-content-buttons {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 72%;
    text-align: right;
    display: block;
  }

  .previous-button {
    float: left;
  }
}

.buy-course-modal-width {
  width: auto;
  min-width: 500px;
}

.buy-course-modal-height {
  height: auto !important;
}
