//  Post Comment Skeleton
.skeleton-header-container {
  width: 100%;
  display: inline-block;

  .skeleton-avatar-container {
    float: left;
    margin-right: 10px;

    .custom-skeleton-avatar {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-top: 10px;
      float: left
    }
  }

  .skeleton-title-container {
    width: 90%;
    display: inline-block;
    margin-top: 11px;

    .custom-skeleton-title {
      width: 25%;
      height: 20px;
    }

    .custom-skeleton-date {
      height: 18px;
      margin-bottom: 3px;
      width: 30%;
    }
  }

  .custom-skeleton-description {
    height: 30px;
  }
}

// Comment Avatar
.comment-avatar {
  margin: 0px 10px 10px 0px;
}

// View More Comments
.view-more-comments-section {
  display: flex;
  height: 35px;

  .MuiButtonBase-root {
    color: $color-primary;
    background-color: $color-white;
  }
  :hover {
    text-decoration: underline;
    color: $color-primary;
  }
}

.static-small-loader {
  position: inherit;
  margin: 2px 10px 0px 20px;
  .MuiCircularProgress-colorPrimary {
    color: $color-primary;
  }
}


// Add New Comment
.post-add-new-comment {
  margin-top: 15px;
  display: inline-flex;
  width: 100%;

  .create-comment {
    width: 100%;

    .comment-content {
      border: 1px solid $color-border;
      border-radius: 8px;
      padding: 5px 0px 0px 10px;

      textarea {
        width: 100%;
        margin: 0 auto;
        display: flex;
        height: 100%;
        border: none;
        resize: none;
        margin-bottom: 10px;
        &:focus {
          outline: none;
          box-shadow: inherit;
        }
      }
    }

    .comment-actions {
      justify-content: space-between;
      display: inline-flex;
      width: 100%;
      margin-top: 10px;

      .cancel-button {
        float:left;
      }

      .post-button {
        float:right;
        right: 0;
      }
    }
  }
}


.comment-option-button-hidden {
  display: none;
}

.comment-option-button-visible {
  display: block;
}

.comment-body {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  width: 100%;

  .profile-head-info {
    display: inline-flex;
  }

  &:first-child {
    margin-top: 0px;
  }

}

.comment-body:hover .comment-option-button-hidden {
  display: block;
}

// comment Options

.comment-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  border-radius: 8px;
  padding: 5px;

  .option {
    display: flex;
    justify-content: flex-start;
    background-color: $color-white;
    .option-icon {
      flex: 1;
      margin: auto;
    }
    .option-name {
      flex: 2;
      margin: 5px;
      font-size: 14px;
    }
  }
  .option-label {
    margin: 2px 6px;
  }
}
