//  Post Comment Skeleton
.skeleton-header-container {
  width: 100%;
  display: inline-block;

  .skeleton-avatar-container {
    float: left;
    margin-right: 10px;

    .custom-skeleton-avatar {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-top: 10px;
      float: left
    }
  }

  .skeleton-title-container {
    width: 90%;
    display: inline-block;
    margin-top: 11px;

    .custom-skeleton-title {
      width: 25%;
      height: 20px;
    }

    .custom-skeleton-date {
      height: 18px;
      margin-bottom: 3px;
      width: 30%;
    }
  }

  .custom-skeleton-description {
    height: 30px;
  }
}

// Comment Avatar
.comment-avatar {
  margin: 0px 10px 10px 0px;
}

// Post Comment Wrap
.comments-wrap {
  margin-top: 10px;

  .comment-body {
    display: inline-flex;
    margin-top: 10px;

    .user-name {
      @extend .h4;
      font-weight: 500;
      font-size: 14px;
    }
    .date {
      @extend .para;
      color: $color-dark-grey;
      font-size: 13px;
    }
    .post-text {
      @extend .para;
      margin-top: 2px;
    }
  }
}



// View More Comments
.view-more-comments-section {
  display: flex;
  margin-top: 20px;
  height: 35px;
  .MuiButtonBase-root {
    color: $color-primary;
    background-color: $color-white;
  }
  :hover {
    text-decoration: underline;
    color: $color-primary;
  }

  .view-more-comments-loader {
    position: inherit;
    margin: 2px 10px 0px 20px;
    .MuiCircularProgress-colorPrimary {
      color: $color-primary;
    }
  }
}

// Add New Comment
.post-add-new-comment {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;

  .create-comment {
    width: 100%;

    .comment-content {
      border: 1px solid $color-border;
      border-radius: 8px;
      padding: 10px;

      textarea {
        @extend .para;
        width: 100%;
        margin: 0 auto;
        display: flex;
        height: 100%;
        border: none;
        resize: none;
        margin-bottom: 10px;
        &:focus {
          outline: none;
          box-shadow: inherit;
        }
      }
    }

    .comment-actions {
      justify-content: space-between;
      display: inline-flex;
      width: 100%;
      margin-top: 10px;

      .cancel-button {
        float:left;
      }

      .post-button {
        float:right;
        right: 0;
      }
    }
  }
}
