.home-button {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.primary-button {
 margin: auto;
}
.channel-title {
  font-size: 1.4rem;
  font-family: 'Nexa Bold', sans-serif;
  color: #444F60;
  min-width: 300px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto;
  margin-right: 10px;
}
.total-members {
  margin: 5px;
  color: gray;
}
.total-comments {
  margin: 5px;
  color: gray;
}

.channel-search {
  width: 100%;
  margin: 15px;
  position: relative;
  transition: all .3s;
}

.channel-head {
  margin-top: 10px;
}

.angle-right {
  margin-left: 5px;
  margin-right: 5px;
}

.no-data-message {
  font-size: 1.6rem;
  font-family: 'Nexa Bold', sans-serif;
  color: #444F60;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-category-message {
  margin-top: 30px;
  font-size: 1.6rem;
  font-family: 'Nexa Bold', sans-serif;
  color: #444F60;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-align-middle {
  vertical-align: middle;
}

.styled-dropdown.is-round>.button {
  border-radius: 50%;
}

.styled-dropdown>.button {
  height: 36px;
  width: 36px;
  position: relative;
  margin-right: 20px;
  padding: 0;
  color: #999;
}

.styled-dropdown .dropdown-menu {
  width: 20px;
  box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.06);
}

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.category-dropdown {
  top: 150px !important;
  left: calc(100% - 140px) !important;
  position: relative;
}

.category-list {
  position: absolute;
  top: 0;
}

.category-dropdown-menu {
  left: 150px;
  right: 0;
  position: absolute;
  top: 100%;
  z-index: 20;
  width: 150px;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10,0.02);
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.category-dropdown-menuitem {
  left: auto;
  right: 0;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.menu-item {
  padding-left: 10px;
  margin-left: 5px;
}

.new-channel-button {
  background-color: #00D1B2 !important;
}

.loader-custom {
  margin-top: 63px;
}

.group-pagination {
  position: absolute;
  right: 0;
}

.channel-link {
 display: contents;
}

.group-modal {
  min-height: 300px;
  max-height: 300px;
  width: 80vw;
  padding: 20px 10px
}

.channel-modal {
  min-height: 400px;
  max-height: 50vh;
  width: 80vw;
  padding: 20px 10px
}
