.steps-button-color {
  border-color: #3573db !important;
  background-color: #3573db !important;
}

.youtube-video {
  border-radius: 13px;
  margin: auto;
}

.bg-color-blue {
  background-color: #3573db !important;
}

.color-blue {
  color: #3573db !important;
}

.slide-bg-1 {
  background-image: url('../../assets/images/landingPage/bg-global-network.jpg');
}

.slide-bg-2 {
  background-image: url('../../assets/images/landingPage/bg-work-at-home-lady.jpg');
}

.slide-bg-3 {
  background-image: url('../../assets/images/landingPage/bg-qbe-rewards.jpg');
}

.slide-bg-4 {
  background-image: url('../../assets/images/landingPage/bg-all-in-one.jpg');
}

.logo-height {
  max-height: 10rem !important;
}

.bg-for-agents {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/bg-for-agents.jpg');
  background-color: #000;
}

.skewed-class-margin {
  margin: 9rem 0 1.5rem 0 !important;
}

.bg-for-center {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/bg-for-centers.jpg');
  background-color: #000;
}
