.steps-button-color {
  border-color: #3573db !important;
  background-color: #3573db !important;
}

.button-color-blue-hover {
  border-color: #3573db !important;

}

.button-color-blue-hover:hover {
  background-color: #3573db !important;
  color: white !important
}

.youtube-video {
  border-radius: 13px;
  margin: auto;
}

.bg-color-blue {
  background-color: #3573db !important;
}

.color-blue {
  color: #3573db !important;
}

.slide-bg-1 {
  background-image: url('../../assets/images/landingPage/bg-global-network.jpg');
}

.slide-bg-2 {
  background-image: url('../../assets/images/landingPage/bg-work-at-home-lady.jpg');
}

.slide-bg-3 {
  background-image: url('../../assets/images/landingPage/bg-qbe-rewards.jpg');
}

.slide-bg-4 {
  background-image: url('../../assets/images/landingPage/bg-all-in-one.jpg');
}

.logo-height {
  max-height: 10rem !important;
}

.bg-for-agents {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/bg-for-agents.jpg');
  background-color: #000;
}


.bg-for-center {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/bg-for-centers.jpg');
}

.bg-for-contact-us {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/powered-by-blockchain.jpg');

}
.contact-us-icon {
  width: auto !important;
  height: auto !important;
}

.google-map-contact {
  height: 80vh;
  width: 100%;
}

.bg-for-about-us {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/images/landingPage/qbe-team.jpg');
  background-color: #000;
}

.social-icons-about-us {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.width-full {
  width: 100%;
}

.review-low-opacity {
  opacity: 0.2;
}
