.course-description-skeleton-container {
  width: 100%;

  .course-description-body {
    margin-bottom: 20px;

    .heading {
      margin: 5px 0;
      width: 240px;
      height: 50px;
    }

    .title {
      margin: 5px 0;
      width: 240px;
    }

    .description {
      height: 4em;
      transform: none;
      width: 100%;
    }
  }
}

.all-courses-skeleton-container {
  width: 100%;

  .course-card-container {
    margin-bottom: 20px;
    height: 100%;
    width: 100%;

    .course-card {
      border-radius: 8px;
      height: 300px;
      transform: none;

      .course-card-picture {
        height: 50%;
        transform: none;
      }

      .enrolled-course-card-picture {
        height: 45%;
        transform: none;
      }

      .course-card-contents {
        padding: 16px;
        transform: none;

        .course-card-rating {
          width: 40%;
          height: 20px;
          transform: none;
        }

        .course-card-separator{
          margin-top: 5px;
          margin-left: 10px;
          height: 5px;
          width: 5px;
          transform: none;
        }

        .course-card-student {
          margin-left: 10px;
          width: 30%;
          height: 20px;
          transform: none;
        }

        .course-card-title {
          margin-top: 5px;
          width: 60%;
          height: 20px;
          transform: none;
        }

        .course-card-creator {
          margin-top: 5px;
          margin-bottom: 10px;
          width: 50%;
          height: 20px;
          transform: none;
        }

        .enrolled-course-card-button {
          margin-top: 15px;
          height: 30px;
          transform: none;
        }
      }
    }

    .extra-height {
      height: 360px;
      transform: none;
    }
  }
}

.course-overview-skeleton-container {
  width: 100%;

  .heading {
    margin: 0px 0px 5px 0px;
    width: 240px;
    height: 60px;
  }

  .course-overview-body {
    padding: 5px;
    margin-bottom: 10px;

    .section-details {
      padding: 5px;

      .section-title {
        margin: 5px 0px;
        padding: 10px;
        width: 100%;
        height: 40px;
        transform: none;
      }

      .unit-title {
        width: 30%;
        height: 20px;
        transform: none;
        margin-top: 5px;
      }

      .start {
        width: 20%;
        height: 20px;
        transform: none;
        margin-top: 5px;
        margin-right: 5px;
      }
    }

    .section{
      padding: 10px;

      .section-title {
        margin: 5px 0px;
        padding: 10px;
        width: 100%;
        height: 40px;
        transform: none;
      }
    }
  }
}

.course-action-skeleton-container {
  width: 100%;

  .picture {
    height: 160px;
    transform: none;
  }

  .button {
    height: 25px;
    transform: none;
  }

  .title {
    width: 30%;
    height: 20px;
    transform: none;
    margin-bottom: 5px;
  }

  .description {
    width: 60%;
    height: 20px;
    transform: none;
  }
}

.my-courses-skeleton-container {
  width: 100%;

  .my-courses-buttons {
    justify-content: space-between;

    .button {
      width: 10%;
      height: 30px;
      transform: none;
    }
  }

  .my-courses-title {
    width: 15%;
    height: 30px;
    transform: none;
  }

  .my-courses-card {
    margin-bottom: 20px;

    .my-courses-card-body {
      border-radius: 8px;
      width: 100%;
      height: 400px;
      margin: 10px 0px;
      transform: none;

      .my-courses-card-picture {
        height: 35%;
        transform: none;
      }

      .my-courses-card-div {
        margin: 10px 0px 0px 5px;

        .my-courses-card-rating {
          width: 30%;
          height: 20px;
          transform: none;
        }

        .my-courses-card-student {
          margin-left: 10px;
          width: 20%;
          height: 20px;
          transform: none;
        }
      }

      .my-courses-card-title {
        margin: 10px 0px 0px 5px;
        width: 40%;
        height: 20px;
        transform: none;
      }

      .my-courses-card-list {
        margin-top: 10px;

        .my-courses-card-list-item {
          justify-content: space-between;

          .my-courses-card-property {
            margin: 5px 0px 5px 5px;
            width: 40%;
            transform: none;
          }

          .my-courses-card-value {
            margin: 5px 5px 5px 0px;
            width: 20%;
            transform: none;
          }
        }
      }

      .my-courses-card-button {
        margin: 10px auto;
        width: 80%;
        height: 30px;
        transform: none;
      }
    }
  }
}

.course-unit-skeleton-container {
  width: 100%;
  margin-top: 5px;

  .course-title {
    width: 20%;
    height: 25px;
    transform: none;
  }

  .section-title {
    margin-top: 30px;
    width: 40%;
    height: 30px;
    transform: none;
  }

  .unit-title {
    margin-top: 15px;
    width: 15%;
    height: 25px;
    transform: none;
  }

  .unit-details {
    margin-top: 15px;
    width: 95%;
    height: 300px;
    transform: none;
  }
}

.assessment-test {
  margin-top: 0px !important;

  .assessment-test-title {
    margin-top: 0px;
    width: 15%;
    height: 25px;
    transform: none;
  }
}

.course-test-skeleton-container {
  width: 100%;
  margin-top: 5px;

  .course-title {
    width: 20%;
    height: 25px;
    transform: none;
  }

  .section-title {
    margin-top: 30px;
    width: 40%;
    height: 30px;
    transform: none;
  }

  .test-title {
    margin-top: 15px;
    width: 15%;
    height: 25px;
    transform: none;
  }

  .progress-bar {
    margin-top: 15px;
    width: 100%;
    height: 15px;
    transform: none;
  }

  .question-title {
    width: 60%;
    height: 20px;
    transform: none;
  }

  .options{
    width: 100%;

    .option-bullet {
      margin-top: 10px;
      width: 15px;
      height: 15px;
      transform: none;
    }

    .option-title {
      margin-top: 10px;
      margin-left: 10px;
      width: 20%;
      height: 15px;
      transform: none;
    }
  }

  .answer-box {
    margin-top: 10px;
    width: 100%;
    height: 75px;
    transform: none;
  }

  .button {
    margin: 20px auto;
    width: 25%;
    height: 30px;
    transform: none;
  }
}

.test-entries-skeleton-container {
  width: 100%;

  .test-entries-content {
    margin-bottom: 20px;

    .course-title {
      margin-bottom: 30px;
      height: 50px;
      width: 30%;
      transform: none;
    }

    .heading {
      margin-bottom: 10px;
      height: 25px;
      width: 15%;
      transform: none;
    }

    .paragraph {
      height: 20px;
      width: 80%;
      transform: none;
    }
  }

  .test-entry-card {
    height: 120px;
    padding: 16px;
    transform: none;

    .heading {
      height: 20px;
      width: 25%;
      transform: none;
    }

    .sub-heading {
      margin-left: 10px;
      height: 20px;
      width: 60%;
      transform: none;
    }

    .picture {
      height: 50px;
      width: 50px;
      transform: none;
    }

    .username {
      align-self: center;
      margin-left: 10px;
      height: 20px;
      width: 30%;
      transform: none;
    }

    .button {
      align-self: center;
      margin-left: auto;
      height: 30px;
      width: 30%;
      transform: none;
    }
  }
}

.test-entries-validation-skeleton-container {
  width: 100%;

  .question {
    width: 60%;
    height: 20px;
    transform: none;
  }

  .content {
    height: 50px;
    transform: none;

    .picture {
      width: 30px;
      height: 30px;
      transform: none;
    }

    .answer {
      margin-left: 10px;
      width: 100%;
      transform: none;
    }
  }

  .reference-answer-button {
    width: 38%;
    height: 30px;
    transform: none;
  }

  .button {
    margin-left: 10px;
    width: 18%;
    height: 30px;
    transform: none;
  }
}

.course-rating-skeleton-container {
  height: 265px;
  max-width: 575px;
  margin: 20px auto 30px auto;

  .rating {
    width: 25%;
    height: 50px;
    transform: none;
  }

  .sub-rating {
    width: 80%;
    height: 60px;
    transform: none;
  }
}
