@import '../../customStyles/scss/partials/variables';

.chat-left-section {
  .chat-left-section-header {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .search-icon {
    height: 19.5px;
    width: 19.5px;
  }

  .search-field {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  .user-list {
    .user-list-divider {
      width: auto;
      margin: 0px 20px 0px 90px;
    }

    .user-card-item {
      padding: 15px 20px;

      .profile-pic {
        width: 60px;
        height: 60px;
        margin: 0px;
        margin-right: 10px;
      }

      .text-message {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 3px;
      }
    }

    .user-card-item:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }

    .user-card-item:last-child {
      padding-bottom: 20px;
    }
  }
}

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;

  .chat-section-body {
    overflow-y: auto;

    .profile-picture {
      height: 36px;
      width: 36px;
    }

    .text-message {
      width: auto;
      max-width: 60%;

      .text-message-body {
        border-radius: 6px;
        opacity: 1;
        padding: 15px;
        text-align: left;
      }

      .self-message {
        background: #4877F4;
        color: #ffffff;
      }

      .other-user-message {
        border: 1px solid #DBDBDB;
      }
    }
  }

  .chat-section-body::-webkit-scrollbar {
    width: 8px !important;
  }

  .chat-section-body::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }

  .image-icon {
    margin-top: 2px;
  }

  .chat-section-footer {
    height: auto;
    padding: 5px 20px 15px 20px;

    .MuiFormControl-root {
      margin: 0px 15px 0px 15px;

      .MuiInputBase-root {
        height: auto;
        padding: 7px 10px;
        font-size: 0.9rem;

        *::-webkit-scrollbar {
          width: 8px !important;
        }

        *::-webkit-scrollbar-thumb {
          background-color: rgba(72, 119, 244, 0.7);
          border-radius: 20px 20px 20px 20px ;
        }
      }
    }
  }
}

.right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  .avatar-group {
    margin-top: 10px;

    .avatar {
      height: 60px;
      width: 60px;
      border: none;
    }
  }

  .options-icon {
    align-self: flex-end;
    position: absolute;

    &:hover {
      background-color: inherit;
    }
  }
}

.add-people-modal{
  .paper {
    max-width: 700px;
  }

  .suggestion-cards {
    overflow-y: auto;
    max-height: 55vh;

    &.new-group {
      max-height: 40vh;
    }

    scrollbar-color: rgba(72, 119, 244, 0.7) rgb(201, 201, 201);

    &::-webkit-scrollbar-thumb {
      background-color: rgba(72, 119, 244, 0.7);
      border-radius: 20px 20px 20px 20px ;
    }
  }
}

.person-card {
  &:not(:last-child):after {
    content: '';
    display: block;
    position: relative;
    width: calc(100% - 80px);
    left: 70px;
    border-bottom: 1px solid $color-border;
    margin-top: 5px;
  }

  .profile-pic {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }

  .self-name {
    align-self: self-start;
    margin-top: revert;
  }

  .remove-button {
    height: fit-content;
    padding: 0px;

    &:hover {
      background-color: transparent;
    }
  }

  .primary-text-link-red {
    color: $color-red;

    &:hover {
      text-decoration: underline;
      color: $color-red;
    }
  }

  .color-red {
    color: $color-red;
  }
}

.person-card-hover.person-card:hover{
  background-color: $color-primary-light;
  cursor: pointer;
}

.view-members-modal {
  *::-webkit-scrollbar {
    width: 8px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(72, 119, 244, 0.7);
    border-radius: 20px 20px 20px 20px ;
  }
}

.chat-popup-root {
  visibility: hidden;
  overflow: hidden;
  display: inline-flex;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1100;
  max-height: 420px;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: flex-start;
  row-gap: 100vh;
  column-gap: 10px;
  max-width: calc(100% - 80px);

  .chat-popup-card {
    visibility: visible;
    align-self: flex-start;
    width: 360px;
    max-height: 420px;
    border-radius: 8px 8px 0 0;
    border-color: $color-primary-dark;
    border-bottom: none;

    .header {
      border-bottom: 1px solid $color-primary-dark;
      padding: 11px 16px;
      background-color: $color-primary;

      .header-action {
        margin: unset;
        align-self: unset;
      }

      .header-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 195px;
        color: $color-white;
      }
    }

    .message-section {
      height: 355px;
      max-height: 60vh;
    }
  }
}
