.notes-box {
  border-radius: 8px;
  padding: 5px 0px 0px 10px;

  textarea {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    border: none;
    resize: none;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      box-shadow: inherit;
    }
  }
}
