.settings-section {
  .row-section {
    width: 100%;
    padding: 10px 40px;
    padding-left: 0px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    &.small-width {
      width: 70%;
    }
  }
  .row-fields {
    padding: 0 20px;

    &.flex {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 40px;
    }

    &.small-width {
      width: 160px;
    }
  }
}


.integration-section {

  .sub-section {
    margin: 30px 0;
  }

  .inline-block {
    display: inline-block;
    width: 100%;
    align-items: center;

    &.flex {
      display: inline-flex;
    }
  }
}

.left-section {
 position: sticky;
 top: 95px;
}

.settings-menu {
  padding: 20px 20px 0px 20px;

  .menu-item {
    cursor: pointer;
  }
}

.settings-drawer {
  width: 25%;
  padding: 30px;
  padding-top: 20vh;
}
