@import '../partials/colors';
@import '../abstracts/variables';
@import './pages-core';
@import './components-boxes';
@import './components-pricing';
@import './components-testimonials';
@import './layout-navbar';
@import './layout-footer';

// Link buttons
.button {
  transition: all 0.5s;

  &.simple-button {
      font-weight: 500;
      color: $blue-grey;
  }

  //CTA buttons
  &.button-cta {
      padding: 22px 40px !important;

      &.btn-outlined.is-bold {
          border-width: 2px;
          font-weight: 600;
      }
  }

  //Rounded buttons
  &.rounded {
      border-radius: 500px;
  }

  //Hover raised buttons
  &.raised:hover {
      box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
      opacity: 0.8;
  }

}

.button.primary-btn {
  outline: none;
  border-color: $primary;
  background-color: $primary;
  color: $white;
  transition: all 0.5s;

  &:hover {
      color: $white;
  }

  &.raised:hover {
      box-shadow: $primary-box-shadow;
      opacity: 0.9 0.5;
  }

  &.btn-outlined {
      border-color: $primary;
      color: $primary;
      background-color: transparent;

      &:hover {
          color: $white;
          background-color: $primary;
      }
  }

  &:focus {
      border-color: $primary;
  }
}
