.clip-loader-css {
  margin-top: 10%;
  margin-left: calc(50% - 80px);
}

.email-verification-error-msg {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: red;
}
