.review-modal-paper {
  max-width: 600px;
}

.reviews-root {
  .review-button {
    width: 140px;
  }

  .custom-active-tabs {
    width: 60%;
    margin-bottom: 20px;
  }

  .review-section-rating-view {
    height: 265px;
    max-width: 575px;
    margin: 0px auto 30px auto;
  }
}
