@import '../../customStyles/scss/partials/variables';

.section-stats {
  ul {
    width: 100%;
    justify-content: space-between;
    padding: 0px 2px;
    margin-top: 7px;
    li {
      margin-right: 10%;
      display: flex;
      color: $color-dark-grey;
        svg {
          margin-top: 2px;
          margin-right: 6px;
          stroke: $color-dark-grey;
          stroke-width: 60px;
          color: white;
          path {
            &:hover {
              color: white !important;
            }
          }
        }
        &:hover {
          color: $color-dark-grey;
        }
    }
  }
}

.group-list-root {
  padding: 20px 0;

  .group-list-title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;
  }

  .group-item {
    padding: 10px 20px
  }

  .notification-number{
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #4877F4;
    color: #FFFFFF;
    font-size: 12px;
  }
}

.trending-topic-root{
  @extend .section-stats;
  .topic-info {
    display: flex;
    .avatar-logo {
      width: 30px;
      height: 30px;
    }
    svg {
      vertical-align: text-bottom;
    }
  }
  p {
    padding: 6px 2px;
  }
  .divider {
    width: 100%;
    margin: 10px 0;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 10px;
   .action-button {
      font-size: 14px;
      position: absolute;
      right: 0;
      padding: 9px 12px;
   }
}

.topics-pagination {
  height: 32px;
  margin: 30px 0 10px;
  ul {
    float: right;
  }
}

.textarea-input {
  display: inline-flex;
  width: 100%;
  .avatar {
    margin-right: 8px;
  }

  .comment-content {
    width: calc(100% - 30px);
    border: 1px solid $color-border;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;

    textarea {
      width: 100%;
      margin: 0 auto;
      display: flex;
      height: 100%;
      border: none;
      resize: none;
      margin-bottom: 10px;
      font-family: 'SF Pro Text', Regular;
      font-weight: normal;
      color: #4A4A4A;
      &:focus {
        outline: none;
        box-shadow: inherit;
      }
    }

    .post-image {
      display: inline-block;
      position: relative;

      img {
        height: auto;
        max-width: 100%;
        border-radius: 6px;
      }

      .MuiButtonBase-root {
        position: absolute;
        top: 0;
        right: 0;
        color: red;
      }

      .MuiIconButton-label {
        &:hover {
          color: red;
        }
      }
    }
  }

	input[type="file"] {
		right: 10px;
		width: 0;
		top: 20px;
		opacity: 0;
    z-index: 9999;
	}
}

.galley-icon {
  svg {
    cursor: pointer;
    vertical-align: middle;
    font-size: 24px;
    height: 100%;
    color: $color-dark-grey;
    path{
    &:hover {
        color: $color-dark-grey;
      }
    }
  }
}

.post-comment-button {
  margin-top: 10px;
  margin-left: calc(100% - 86px) !important;
}

.topic-name-button {
  min-width: min-content;
}

.margin-auto-5 {
  margin: auto 5px;
}

.primary-input-field {
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  background: #FFFFFF;
  font-family: "SF Pro Text";
  font-weight: normal;
  color: #4A4A4A;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.is-max-width-100 {
  max-width: 100%;
}

.is-float-right {
  float: right;
}

.padding-20 {
  padding: 20px;
}

.background-none-hover {
  &:hover {
    background: none;
  }
}

.text-align-left {
  text-align: left;
}

.liked-icon {
  path{
    color: $color-red;
    stroke: $color-red;
    &:hover {
      color: $color-red;
    }
  }
}
