.top-talent-root{
  .top-talent {
    width: 100%;

    .profile-pic {
      width: 56px;
      height: 56px;
      margin: 10px;
      margin-left: 0px;
    }

    .candidate-info {
      align-self: center;
      width: calc(100% - 60px);
    }
  }
}

.talent-head {
  width: 100%;

  .MuiAvatar-root {
    width: 75px;
    height: 75px;
  }

  .talent-details {
    align-self: center;
    width: calc(100% - 90px);
    margin: 0px 10px;

    .username {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
    }

    .location {
      svg {
        margin: 0 10px 0 0;
      }

      .status{
        margin-left: 20px;
      }
    }

    .languages {
      svg {
        margin: 0 10px 0 0;
      }

      .rate{
        float: right;
      }
    }
  }
}

.talent-filter {
  .talent-title {
    margin-bottom: 25px;
  }

  .full-border {
    margin-bottom: 20px;
  }

  .filter-section {
    h4 {
      margin-top: 25px;
    }
  }

  .talent-filter-dropdown {
    width: 87%;
    margin: 10px 5% 10px 8%;
  }

  .radio-buttons {
    .MuiFormControlLabel-root {
      margin-right: 0px;
    }
  }
}

.resume-intro-root {
  .personal-details{
    text-transform: capitalize;
  }
}

.resume-root{
  .resume-section {
    flex-direction: column;
    margin: 10px 0px;
  }
}

.skills-page-root{
  .skill-section {
    .skill-set {
      margin-top: 5px;
    }
    .description{
      align-self: center;
      margin-left: 15px;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

.reviews-root {
  .custom-active-tabs {
    width: 60%;
    margin-bottom: 20px;
  }
  .review-section {
    width: 100%;

    .candidate-info {
      align-self: center;
      width: calc(100% - 60px);
      margin-left: 15px;
      margin-bottom: 10px;

      svg {
        font-size: 20px;
      }
    }
  }
}

.work-history-root {
  .work-history-section {
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;

    .date {
      svg {
        font-size: 5px;
        vertical-align: middle;
        margin: 0px 15px;
      }

    }

    .feedback-section {
      display: inline-flex;
      justify-content: space-between;
      margin: 10px 0px;

      .middle-part{
        width: calc(100% - 150px);
        vertical-align: middle;
        margin: 15px 0;
      }

      .right-part {
        float: right;
        vertical-align: middle;
        margin: 15px 0;

        .rating-star {
          margin-left: 0px;
        }

      }
    }
  }
}

.endorsement-modal {
  .endorsement-section {
    width: 100%;
    display: inline-flex;
    margin: 10px 0px;

    .middle-part{
      width: 100%;
      vertical-align: middle;
      margin: 15px 0;
    }
  }
}

.cover-letter-root {
  .stengths-list {
    li {
      margin-left: 10px;
      list-style-type: initial;
   }
  }
}
