@import '../../styles/scss/dashboard.scss';
.icon-style {
  font-size: 22px;
  margin: auto;
  margin-top: 10px;
}
.custom-title {
  font-size: 15px;
  font-weight: 500;
}
.custom-date {
  font-size: 14px;
  font-weight: 400;
}
.custom-subtitle {
  font-size: 14px;
  font-weight: 400;
}
.like-icon {
  color: red;
}
.follow-icon {
  color: blue;
}
