.side-cover {
  background: url('https://i.imgur.com/ujIwpoV.jpg');
  background-position: center;
  background-size: cover;
}

.input-fields {
  margin-bottom: 10px;
}

.error-message {
  font-weight: bold;
  color: red;
}

.input,
.textarea,
select {
  box-shadow: none !important;
}

.input {
  color: #878787;
  height: 36px;
  transition: all 0.3s;
  border-color: #ccc;
  font-size: 1.2rem !important;
  height: 52px;
}

.signup-button {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.signup-div {
  display: inline-block;
}

.divider-margin {
  margin: 15px 0 !important;
}

.social-sigup-buttons {
  width: 100%;
  margin-bottom: 15px !important;
  border-radius: 25px !important;
  text-transform: none !important;
}

.section-signup {
  padding: 2rem 1.5rem !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.height-full-cover {
  min-height: 100% !important;
}

.icon.is-medium, .icon.is-right {
  margin-top: 8px;
}

.success-send-email {
  text-align: center;
}

.signup-with-invite-message {
  text-align: center;
  margin-bottom: 20px;
}

.input-heading {
  width: 100%;
  padding: 20px 0px;
  font-size: 25px;
}
