// Job Skeleton
.job-skeleton-container {
  width: 100%;
  display: inline-block;

  // Skeleton Avatar
  .skeleton-avatar-container {
    float: left;
    margin-right: 10px;
    display: inline-flex;

    .custom-skeleton-avatar {
      width: 55px;
      height: 55px;
      margin-top: 10px;
      float: left
    }

    .custom-skeleton-location {
      height: 18px;
      margin-left: 30px;
      width: 150px;
      margin-top: 12px;
    }
  }

  .skeleton-title-container {
    width: 60%;
    display: inline-block;
    margin-top: 17px;

    .custom-skeleton-description {
      margin-top: 5px;
      height: 20px;
    }
  }

  .custom-skeleton-summary {
    margin-top: 5px;
    height: 150px;
    width: 100% ;
  }

  .status-tray {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .status-item {
      width: 50%;
      height: 30px;
    }
  }
}


// Job List Skeleton
.job-list-skeleton-container {
  .custom-skeleton-heading {
    height: 40px;
    width: 40%;
  }

  .custom-skeleton-title {
    height: 25px;
    width: 70%;
    margin-top: 20px;
  }

  .custom-skeleton-jobpost-heading {
    margin-top: 20px;
    height: 50px;
    width: 80%;
  }

  .custom-skeleton-jobpost-title {
    height: 30px;
    width: 40%;
    margin-top: 20px;
  }

  .custom-skeleton-summary {
    margin-top: 5px;
    height: 150px;
    width: 100% ;
  }

  .job-status-tray {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .job-status-item {
      width: 30%;
      height: 30px;
    }
  }
}
