@import '../../../../../../../customStyles/scss/index.scss';
@import '../../../../newStyles.scss';

.content-section {
  align-self: center;
  width: 70%;

  .content-options {
    width: 100%;
    margin: 20px 0;

    .wide-button {
      width: 49%;
    }

  }

  .list-sections {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;

    .list-item {
      width: 100%;
      height: auto;
      display: inline-flex;
      vertical-align: middle;
      justify-content: space-between;

      .upload-content-button {
        width: 120px;
      }

      .added-content {
        flex-basis: auto;

        .edit-button {
          width: 120px;
          margin-left: 10px;
        }
      }
    }
  }
}


// Modal custom
.custom-modal {

  .MuiDialog-paperScrollPaper {
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    height: 80%;
  }

  .header {
    display: inline-flex;
    justify-content: space-between;

    h2 {
      margin-right: 30px;
      @extend .h2;
    }

    .cross-button {
      margin-right: 0.5rem;
      button {
        .MuiIconButton-label {
          color: $color-primary;
        }
      }
    }
  }

  .modal-actions {
    display: inline-flex;
    justify-content: space-between;
    button {
      margin: 0 0.5rem;
    }
  }
}
