@import '../../../../../../customStyles/scss/index.scss';

.content-section {
  align-self: center;
  width: 70%;

  .content-options {
    width: 100%;
    margin: 20px 0;

    .wide-button {
      width: 49%;
    }

  }

  .list-sections {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;

    .list-item {
      width: 100%;
      height: auto;
      display: inline-flex;
      vertical-align: middle;
      justify-content: space-between;
      padding: 2px 15px;
      min-height: 45px;
      &.section-label {
       height: 45px;
      }

      &.edit-section {
        padding: 10px 15px;
      }

      .upload-content-button {
        width: 120px;
      }

      .added-content {
        flex-basis: auto;

        .edit-button {
          width: 120px;
          margin-left: 10px;
        }
      }
    }
  }
}

.test-question-section {
  .multiple-question {
    .answer-radio {
      margin: 11px 25px;
    }
  }

  .p-word-break {
    word-break: break-all;
  }

  .date-time {
    margin-right: 20px !important;
  }
}

.video-container {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  height: 60vh;

  .media-player-root{
    display: flex;
  }

  .video-player-root {
    display: flex;
  }
}

.custom-svg-icon{
  &.color-red {
    path, line, rect {
      stroke: $color-red;
    }
  }
}
